<section *ngIf="showFirstPage" class="stylePage">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <!-- <label for="fileInput">Select File:</label> -->
          <div class="style-file">
            <input type="file" (change)="onFileChange($event)" #fileInput class="form-control mb-5">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 style-date-input">
        <div class="form-group">
          <label for="selectedDate">Select Date:</label>
          <!-- <mat-form-field appearance="outline"> -->
          <!-- <div> -->
          <!-- <div class="form-group"> -->
          <input type="date" [(ngModel)]="selectedDate" id="selectedDate" class="form-control pres-input w-100">
          <!-- </div> -->
          <!-- <input type="date" [(ngModel)]="selectedDate" id="selectedDate" class="form-control"> -->
          <!-- </div> -->
          <!-- </mat-form-field> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <button (click)="addFile(fileInput)" class="common-button mb-5">Add File</button>
      </div>
      <!-- <div class="col-md-6 col-sm-12">
        <button (click)="saveFile()" class="common-button mb-5">Save</button>
      </div> -->
    </div>


    <div *ngIf="showTables" class="mt-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>S.No</th>
            <th>File Name</th>
            <th>Date</th>
            <th>View</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let excelFile of excelFiles; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ excelFile.name }}</td>
            <td>{{ excelFile.date }}</td>
            <td><button (click)="viewFile(i)" class="btn btn-info">View</button></td>
            <td><button (click)="deleteFile(i)" class="btn btn-danger">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<section *ngIf="showSecondPage" class="stylePage">
  <div class="style-date">
    {{selectedDate}}
  </div>
  <div *ngIf="showDetails" class="mt-4">
    <div class="form-group">
      <label for="validityText">Search text:</label>
      <input type="text" [(ngModel)]="validityText" placeholder="Search text..." (keyup.enter)="checkValidity()"
        id="validityText" class="form-control">
      <button (click)="checkValidity()" class="common-button">Check</button>
    </div>
    <div class="style-name">
      {{name}}
    </div>
    <div class="text-center">
      <img *ngIf="showMark" src="assets/images/correctmark.png" alt="Checkmark" class="styleIt">
      <img *ngIf="!showMark" src="assets/images/incorrectmark.png" alt="Checkmark" class="styleNotFound">
    </div>
  </div>

  <!-- <div *ngIf="showTables" class="mt-4">
      <table class="table table-striped">
        <thead>
          <tr *ngFor="let column of tableColumns">
            <th>{{ column }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of currentFileData; let rowIndex = index">
            <td *ngFor="let column of tableColumns">{{ row[column] }}</td>
          </tr>
        </tbody>
      </table>
    </div> -->
  <div class="d-flex column">
    <span class="entries-style">Valid Entries</span>
    <span class="green-style">{{validEntries}}</span>
  </div>

  <div class="d-flex">
    <span class="entries-style">Barred Entries</span>
    <span class="red-style">{{barredEntries}}</span>
  </div>
</section>