<section class="section-org-edit">
    <mat-list class="row">
        <app-label>Prescription</app-label>
        <mat-accordion>
            <mat-expansion-panel class="my-3">
                <mat-expansion-panel-header class="app-expansion">
                    <div class="app-expansion-title col-md-12">
                        <span>Patient ID: <span>0812</span></span>
                        <span>Booking ID: <span>booking_id</span></span>
                        <span>First Name: <span>Jitu</span></span>
                        <span>Doctor's Name: <span>Jitendra</span></span>
                        <span>Date: <span>02/08/23</span></span>
                    </div>
                </mat-expansion-panel-header>
                <div class="mt-4">
                    <span>Patient Complaints</span>
                    <div class="border border-info rounded p-3 ">
                        <div class=" d-flex justify-content-between">
                            <p class=""><strong>Sno.</strong></p>
                            <p class="col-md-8"><strong>Details</strong></p>
                            <p class="col-md-2"></p>
                        </div>
                        <div class="  d-flex justify-content-between">
                            <p class=" border border-info rounded p-1 px-2">1</p>

                            <!-- Patient Number -->
                            <div class="col-md-10 form-group">
                                <input type="patientNumber" class="form-control pres-input" name="patientNumber"
                                    required>
                            </div>
                            <mat-icon class="add-icon">add_circle_outline</mat-icon>
                            <mat-icon class="add-icon">delete</mat-icon>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <span>Diagnosis</span>
                    <div class="border border-info rounded p-3 ">
                        <div class=" d-flex justify-content-between">
                            <p class=""><strong>Sno.</strong></p>
                            <p class="col-md-8"><strong>Details</strong></p>
                            <p class="col-md-2"></p>
                        </div>
                        <div class="  d-flex justify-content-between">
                            <p class=" border border-info rounded p-1 px-2">1</p>

                            <!-- Patient Number -->
                            <div class="col-md-10 form-group">
                                <input type="patientNumber" class="form-control pres-input" name="patientNumber"
                                    required>
                            </div>
                            <mat-icon class="add-icon">add_circle_outline</mat-icon>
                            <mat-icon class="add-icon">delete</mat-icon>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <span>Rx</span>
                    <div class="border border-info rounded p-3">
                        <div class="row">
                            <div class="col-md-1"><strong>Sno.</strong></div>
                            <div class="col-md-3"><strong>Medicine</strong></div>
                            <div class="col-md-2"><strong>Dosage</strong></div>
                            <div class="col-md-2"><strong>Duration</strong></div>
                            <div class="col-md-2"><strong>Remark</strong></div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-1 pres-input text-center">
                                <p class="border border-info rounded p-1 text-align-center">1</p>
                            </div>
                            <!-- Medicine Type -->
                            <div class="form-group d-flex justify-content-between align-items-center col-md-3">
                                <select name="patientType" class="app-single-select-dropdown w-75">
                                    <option>Acifin P</option>
                                    <option>Appointment</option>
                                    <option>Admission</option>
                                    <option>Investigation</option>
                                    <option>Emergency</option>
                                </select>
                                <mat-icon class="add-icon">add_circle_outline</mat-icon>
                            </div>
                            <!-- Dosage -->
                            <div class="form-group col-md-2">
                                <select name="dosage" class="app-single-select-dropdown w-100">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>other</option>
                                </select>
                            </div>
                            <!-- Duration -->
                            <div class="form-group col-md-2">
                                <select name="duration" class="app-single-select-dropdown w-100">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>Emergency</option>
                                </select>
                            </div>
                            <!-- Remark -->
                            <div class="form-group col-md-2">
                                <input type="patientNumber" class="form-control pres-input w-100" n>
                                <!-- Add options for Remark here -->
                            </div>

                            <div class=" d-flex col-md-2 justify-content-around ">
                                <mat-icon class="add-icon">add_circle_outline</mat-icon>
                                <mat-icon class="add-icon">delete</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 row align-items-center">
                    <div class="col-md-3">
                        <span>Investigation</span>
                        <input type="patientNumber" class="form-control pres-input" name="patientNumber">
                    </div>
                    <div class="col-md-3">
                        <span>Remark</span>
                        <input type="patientNumber" class="form-control pres-input" name="patientNumber">
                    </div>
                    <div class="col-md-3">
                        <input type="checkbox" class="me-1">
                        <span>Next Visit</span>
                        <input type="patientNumber" class="form-control pres-input" name="patientNumber">
                    </div>
                </div>
                <div class="mt-2 d-flex justify-content-end">
                    <button class="common-button">Save</button>
                    <button class="common-button ms-2">Add New</button>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-list>
</section>