@import '../../../../variable.scss';

.div-style {
    display: flex;
    border-bottom: 2px solid $accent;
    margin-bottom: 10px;
    margin-top: -25px;

    span {
        background-color: $accent;
        padding: 10px;
        margin-left: auto;
        font-size: 20px;
    }
}