<section class="section-org">
    <section class="row" *ngIf="showSectionUserList">
        <div class="row">
            <div class="row">
                <div class="px-5 d-flex justify-content-between">
                    <button class="common-button" (click)="addUser()">Add User</button>
                </div>
            </div>
        </div>
    </section>
    <section *ngIf="showSectionUserEdit">
        <div>
            <app-user-edit [departmentList]="departmentList" [userTypeList]="userTypeList" [department]="department"
                [userProfile]="userProfile"></app-user-edit>
        </div>
    </section>
</section>