<!-- Add Service section -->
<!-- <section class="section-org-edit">
    <div class="row mb-3">
        <div class=" d-flex justify-content-between">
            <h2>Add New Customer</h2>
        </div>
    </div>

    <form>
        <div class="row"> -->
            <!--Customer Id-->
            <!-- <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Customer Id</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control app-input" name="customer" required>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- Bill No -->
            <!-- <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Bill No:</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control app-input" name="serviceName" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row"> -->
            <!--Customer Name -->
            <!-- <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Name</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control app-input" name="Name" required>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Contact No: -->
            <!-- <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Contact No:</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control app-input" name="ContactNo" appNumberOnly required>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="row"> -->
            <!--Doctor Name-->
            <!-- <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Doctor Name</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control app-input" name="doctorName" required>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- Date-->
            <!-- <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Date</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="date" class="form-control app-input" name="date"
                                required >
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </form>

</section> -->