<!-- Products section -->
<section class="section-org-edit" *ngIf="showSectionProductList">
    <div class="row">
        <div class="px-5 d-flex justify-content-between">
            <h2>Products</h2>
            <button class="common-button" (click)="AddProduct()">Add Product</button>
        </div>
    </div>

    <mat-card class="table-card-style">
        <div class="row">
            <div class="search-input-style">
                <label class="app-label me-2">{{'Search'}}</label>
                <input class="input-style" (keyup)="applyFilter($event)" placeholder="" #input>
            </div>
        </div>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <!-- Product Code -->
                <ng-container matColumnDef="Product Code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Code </th>
                    <td mat-cell *matCellDef="let row"> {{row.ProductCode}} </td>
                </ng-container>

                <!-- Product Name -->
                <ng-container matColumnDef="Product Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
                    <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.ProductName}} </td>
                </ng-container>

                <!-- Product Type -->
                <ng-container matColumnDef="Product Type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Type </th>
                    <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.ProductType}} </td>
                </ng-container>

                <!-- Price -->
                <ng-container matColumnDef="Price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Price </th>
                    <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.Price}} </td>
                </ng-container>

                <!-- Action -->
                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row" class="action-style text-ellipsis">{{row.Action}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    </mat-card>
</section>

<!-- Add Product section -->
<section class="section-org-edit" *ngIf="showSectionProductEdit">
    
    <div class="d-flex justify-content-end align-items-end">
        <button class="common-button" (click)="seeProductList()">Product List</button>
    </div>

    <app-product-edit [product]="product"></app-product-edit>
    
    <div class="d-flex align-items-center justify-content-center mb-5">
        <div class="col-1">
            <button class="common-button" (click)="savingProduct()">save</button>
        </div>
    </div>
</section>