<!------------------------- Products section ----------------------------->
<section class="section-org-edit" *ngIf="!showAddProductsSection">
    <div class="row">
        <div class="px-5 d-flex justify-content-between">
            <h2>Products</h2>
            <button class="common-button" (click)="toggleAddProductsSection()">Add Product</button>
        </div>
    </div>

    <!--****************newly added to show table **********************-->
    <mat-card class="table-card-style">
        <div class="row">
            <div class="search-input-style">
                <label class="app-label me-2">{{'Search'}}</label>
                <input class="input-style" (keyup)="applyFilter($event)" placeholder="" #input>
            </div>
        </div>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <!-- App No -->
                <ng-container matColumnDef="Product Code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Code </th>
                    <td mat-cell *matCellDef="let row"> {{row.ProductCode}} </td>
                </ng-container>

                <!-- Date -->
                <ng-container matColumnDef="Product Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
                    <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.ProductName}} </td>
                </ng-container>

                <!-- Patient -->
                <ng-container matColumnDef="Product Type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Type </th>
                    <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.ProductType}} </td>
                </ng-container>

                <!-- Price -->
                <ng-container matColumnDef="Price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Price </th>
                    <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.Price}} </td>
                </ng-container>

                <!-- Action -->
                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row" class="action-style text-ellipsis">{{row.Action}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    </mat-card>
</section>

<!------------------------- Add Product section ----------------------------->
<section class="section-org-edit" *ngIf="showAddProductsSection">
    <div class="row mb-3">
        <div class=" d-flex justify-content-between">
            <h2>Add Product</h2>
            <button class="common-button" (click)="toggleAddProductsSection()">Go To Products</button>
        </div>
    </div>

    <form>
        <div class="row">
            <!-- Product Code-->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Product Code</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="" class="form-control app-input" name="productCode" [(ngModel)]="product.productCode" required>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Purchase Date -->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Purchase Date</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="Date" class="form-control app-input" name="purchaseDate" [(ngModel)]="product.purchaseDate" required>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Product Name -->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Product Name</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control app-input" name="productName" [(ngModel)]="product.productName" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Drug-->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Drug</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control app-input" name="drug" [(ngModel)]="product.drug" required>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Company -->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Company</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control app-input" name="company" [(ngModel)]="product.company" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Product Type -->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Product Type</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <select name="ProductType" class="app-single-select-dropdown w-100" [(ngModel)]="product.productType" required>
                                <option value="">Select</option>
                                <option value="opd">Tablet</option>
                                <option value="percentage">Capsule</option>
                                <option value="procedure">Syrup</option>
                                <option value="ot">Drop</option>
                                <option value="injection">Injection</option>
                                <option value="inhaler">Inhaler</option>
                                <option value="gel">Gel</option>
                                <option value="ointment">Ointment</option>
                                <option value="generalProduct">General Product</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Qty per strip -->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Qty/strip</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input class="form-control app-input" name="qtyPerStrip" [(ngModel)]="product.qtyPerStrip" required appNumberOnly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Price per strip-->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label"> Price/strip</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="" class="form-control app-input" name="pricePerStrip" [(ngModel)]="product.pricePerStrip" required appAmountOnly>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <!-- Price -->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Price</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="" class="form-control app-input" name="price" [(ngModel)]="product.price" required appAmountOnly>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Expiry Date -->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Expiry Date</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="date" class="form-control app-input" name="expiryDate" [(ngModel)]="product.expiryDate" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <div class="d-flex align-items-center justify-content-center mb-5">
        <div class="col-1">
            <button class="common-button" (click)="saveIt()">save</button>
        </div>
    </div>
</section>