.input-with-dropdown {
    display: flex;
    align-items: center;
}

.dropdown-select {
    margin-left: -24px;
    border-left: none;
    width:30%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

.time-input{
    border-right:none;
    width:55%;
}

.align-style{
    display: flex;
    flex-direction: row;
}
