.time-slot-selector{
    border: solid 2px grey;
    text-align: center;
    max-height:200px;
    overflow-y: auto;
}

.time-slots-style{
    color:white;
    background-color: rgb(31 28 79 / 86%);
    text-align: center;
    padding:4px;
}

/* to change the color of selected time slot */
.selected-time-slot {
    background-color: grey; /* Change this to your desired color */
    color: white; /* Change this to your desired text color */
    cursor: pointer; /* Make the cursor change to a pointer on hover */
  }

  .style-star{
    color: red;
  }
  input.ng-invalid.ng-dirty, input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }