<section class="section-org-edit">

    <form #patientForm="ngForm">
        <mat-list class="row">
            <app-label>Personal Information</app-label>
            <div class="row">
                <!-- Patient Number -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">UHID</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input readonly class="form-control app-input" name="patientNumber"
                                    [(ngModel)]="userBooking.booking.patientNo" required>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Date -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Date</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="date" readonly class="form-control app-input" name="date"
                                    [ngModel]="userBooking.booking.bookingDate | date:'yyyy-MM-dd'" required
                                    (ngModelChange)="userBooking.booking.bookingDate = $event">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- First Name -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label app-input">First Name</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input class="form-control app-input" name="nameF" [(ngModel)]="userBooking.user.nameF"
                                    required>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Last Name -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Last Name</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="text" class="form-control app-input" name="nameL"
                                    [(ngModel)]="userBooking.user.nameL" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Gender -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3 mt-3">
                        <div class="col-md-3">
                            <label class="label" class="app-label">Gender</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-check form-check-inline" *ngFor="let g of genderList">
                                <input class="form-check-input" type="radio" name="gender" [value]="g.id"
                                    [(ngModel)]="userBooking.user.gender">
                                <label class="form-check-label">{{ g.name }}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Fathers Name -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Father's Name</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="text" class="form-control app-input" name="fatherName"
                                    [(ngModel)]="userBooking.user.fatherName" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Email -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Email</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input [readOnly]="!!userBooking.user._id" type="text" class="form-control app-input"
                                    name="email" [(ngModel)]="userBooking.user.email" required>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Contact No -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Contact Number</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input [readOnly]="!!userBooking.user._id" type="text" class="form-control app-input"
                                    name="cell1" [(ngModel)]="userBooking.user.cell" required maxlength="10"
                                    minlength="10" appNumberOnly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Date of Birth -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Date of Birth</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="date" class="form-control app-input" name="dateOfBirth"
                                    [(ngModel)]="userBooking.user.doB" (ngModelChange)="calculateAge()" required>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Age -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Age</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="text" class="form-control app-input" name="age"
                                    [(ngModel)]="userBooking.user.age" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Alternate Number-->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Alternate Number</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="text" class="form-control app-input" name="cell2"
                                    [(ngModel)]="userBooking.user.cell2" required maxlength="10" minlength="10"
                                    appNumberOnly>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CAN BE USED IN FUTURE -->
                <!-- Patient Type -->
                <!-- <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Patient's Type</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <select name="patientType" class="app-single-select-dropdown w-100"
                                    [(ngModel)]="userBooking.booking.subType" required>
                                    <option *ngFor="let type of patientTypeList;" [value]="type.id">{{type.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- Department -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Department</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <select class="app-single-select-dropdown w-100" name="department"
                                    [(ngModel)]="userBooking.booking.departmentId"
                                    (ngModelChange)="filterDoctorByDepartmentId(userBooking.booking.departmentId)">
                                    <option *ngFor="let item of departmentList" [value]="item._id">{{item.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <app-label>Doctor Details</app-label>

            <div class="row">
                <!-- Doctor's Name -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Doctor</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <select class="app-single-select-dropdown w-100" name="doctorname"
                                    [(ngModel)]="userBooking.booking.dr" (ngModelChange)="checkDoctor(userBooking.booking.dr)">
                                    <option *ngFor="let doctor of docterList" [value]="doctor._id">{{doctor.nameF}}
                                        {{doctor.nameL}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Other doctor -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Other Doctor</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="text" class="form-control app-input" name="otherDoctor"
                                    [(ngModel)]="userBooking.booking.drExt[0]">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Complaint -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Complaint</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="text" class="form-control app-input" name="complaint"
                                    [(ngModel)]="userBooking.booking.complaint[0]" required>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Time Slot -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3 mt-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Shift</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-check form-check-inline" *ngFor="let shift of shiftList">
                                <input class="form-check-input" type="radio" name="shift" [value]="shift.id"
                                    [(ngModel)]="userBooking.booking.shift">
                                <label class="form-check-label">{{ shift.name }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Refered By-->
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Referred By</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="text" class="form-control app-input" name="referredBy"
                                    [(ngModel)]="userBooking.booking.referedBy" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Time Slot</label>
                        </div>

                        <div class="col-md-7">
                            <div class="form-group" *ngFor="let shift of time;let i=index;">
                                <div class="time-slots">
                                    <select class="app-single-select-dropdown w-100" name="timeslots" [(ngModel)]="userBooking.booking.timeSlot">
                                        <option *ngFor="let slot of generateTimeSlots(time[i].from, time[i].to)">{{ slot
                                            }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <app-label>Adress Details</app-label>

            <div class="row">
                <app-eg-edit-address-form [(address)]="userBooking.user.address"
                    (pubSub)="addressFormChange($event)"></app-eg-edit-address-form>
            </div>
        </mat-list>
    </form>
</section>