.time-slot-selector{
    border: solid 2px grey;
    text-align: center;
    // padding:30px;
    // scroll-behavior: auto;
    max-height:200px;
    overflow-y: auto;
}

.time-slots-style{
    // background-color: skyblue;
    color:white;
    background-color: rgb(31 28 79 / 86%);
    text-align: center;
    padding:4px;
    // margin-bottom: 28px;
}

/* to change the color of selected time slot */
.selected-time-slot {
    background-color: grey; /* Change this to your desired color */
    color: white; /* Change this to your desired text color */
    cursor: pointer; /* Make the cursor change to a pointer on hover */
  }
  