<section class="section-org-edit">
<app-label>Salary Detail</app-label>
<div class="app-expansion ">
    <div class="app-expansion-title col-md-12">
        <span>User ID: <span></span></span>
        <span>First Name: <span>jitu</span></span>
        <span>Department: <span>Lab</span></span>
        <span>Designation: <span>Assitant</span></span>
    </div>
</div>
<form>
<div class="row">
    <!-- Total amount -->
    <div class="col-md-6">
        <div class="d-flex align-items-center mb-3">
            <div class="col-md-3">
                <label class="app-label"><strong>Total</strong></label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="totalAmount" class="form-control app-input" name="totalAmount" required>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<app-label>Banking Detail</app-label>

</section>