<section class="section-org-edit">
    <div class="row mb-3">
        <div class=" d-flex justify-content-between">
            <h2>Add Investigation</h2>
        </div>
    </div>

    <form>
        <div class="row">
            <!-- Test Name -->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Test Name</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control app-input" name="testName"
                                [(ngModel)]="investigationParameters.testName" required>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Department -->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Department</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control app-input" name="department"
                                [(ngModel)]="investigationParameters.departmentId" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Specimen-->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Specimen</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control app-input" name="specimen"
                                [(ngModel)]="investigationParameters.specimen" required>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Charges -->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Charges</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control app-input" name="charges"
                                [(ngModel)]="investigationParameters.charge" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <button (click)="checkIt()">Check</button> -->
        <div class="mt-5"></div>

        <app-label>Test Parameters</app-label>

        <div class="col-md-12 align-style">
            <div class="d-flex flex-row">
                <!-- ng-container is used here in place of div so that the group name came in row and not in column as due to ngFor it will came in column  -->
                <ng-container *ngFor="let grp of investigationParameters.params; let k=index">
                    <div class="d-flex flex-row">
                        <button class="me-2 mb-4 common-button" (click)="addParameters(k)">Group-{{k+1}}</button>
                        <mat-icon class="add-icon clickable mb-4" *ngIf="k==investigationParameters.params.length-1"
                            (click)="addNewGroupTest(k)">add_circle_outline</mat-icon>
                    </div>
                </ng-container>
            </div>
            <div *ngFor="let grp of investigationParameters.params; let k=index">
                <div class="row" *ngIf="isGroupOpen(k)">
                    <!-- Group -->
                    <div class="col-md-6">
                        <div class="d-flex align-items-center mb-3">
                            <div class="col-md-3">
                                <label class="app-label">Group Name</label>
                            </div>
                            <div class="col-md-7 me-2">
                                <div class="form-group">
                                    <input type="text" class="form-control app-input" name="group"
                                        [(ngModel)]="grp.name" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="isGroupOpen(k)">
                    <div class="col-md-3"><strong>Test Name</strong></div>
                    <div class="col-md-3"><strong>Reference</strong></div>
                    <div class="col-md-3"><strong>Unit</strong></div>
                    <div class="col-md-"></div>
                </div>

                <div class="col-md-12 align-style mb-3" *ngFor="let item of grp.criteriaList; let i = index">

                    <div class="row align-items-center" *ngIf="isGroupOpen(k)">
                        <div class="form-group col-md-3">
                            <input class="form-control pres-input w-100" type="text" name="test{{i}}"
                                [(ngModel)]="item.testName">
                        </div>
                        <div class="form-group col-md-3">
                            <input class="form-control pres-input w-100" type="text" name="reference{{i}}"
                                [(ngModel)]="item.ref">
                        </div>
                        <div class="form-group col-md-3">
                            <input class="form-control pres-input w-100" type="text" name="unit{{i}}"
                                [(ngModel)]="item.unit">
                        </div>
                        <div class="col-md-2">
                            <mat-icon class="add-icon clickable" (click)="removeTestParameter(k)">delete</mat-icon>
                            &nbsp;&nbsp;
                            <mat-icon *ngIf="(i+1)==grp.criteriaList.length" class="add-icon clickable"
                                (click)="addTestParameter(k)">add_circle_outline</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>