<section class="p-5">
    <div class="d-flex justify-content-between">
        <div>
            <input type="date" style="padding: 5px; margin-right: 10px;">
            <input type="text" placeholder="Added by" style="padding: 5px;">

        </div>
        <button class="common-button" (click)="openAddProductDialog('0ms', '0ms')">Add Product</button>
    </div>

    <mat-accordion>
        <mat-expansion-panel class="my-3" [expanded]="isPanelOpen" (closed)="panelClosed()">
            <mat-expansion-panel-header class="app-expansion">
                <div class="app-expansion-title col-md-12">
                    <!-- <span>Patient Id: <span>0812</span></span>
                    <span>Visiting ID: <span>booking_id</span></span>
                    <span>First Name: <span>Mayank</span></span>
                    <span>Doctor's Name: <span>M.Patidar</span></span>
                    <span>Date: <span>02/08/23</span></span> -->
                </div>
            </mat-expansion-panel-header>

            <div class="border border-info rounded p-3 mt-4     ">
                <div class="row">
                    <div class="col-md-1"><strong>Sno.</strong></div>
                    <div class="col-md-2"><strong>Item Name</strong></div>
                    <div class="col-md-2"><strong>Company</strong></div>
                    <div class="col-md-2"><strong>Batch No</strong></div>
                    <div class="col-md-1"><strong>Qty</strong></div>
                    <div class="col-md-2"><strong>Expiry</strong></div>
                    <div class="col-md"></div>
                </div>

                <div class="col-md-12 align-style" *ngFor="let item of newPurchase; let i = index">

                    <div class="row align-items-center">
                        <div class="col-md-1 pres-input text-center">
                            <p class="border border-info rounded p-1 text-align-center">{{i+1}}</p>
                        </div>
                        <div class="form-group col-md-2">
                            <select class="app-single-select-dropdown w-100" [(ngModel)]="item.itemName"
                                name="itemName{{i}}">
                                <option>Item-1</option>
                                <option>Item-2</option>
                            </select>
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control pres-input" name="company{{i}}"
                                [(ngModel)]="item.company" required>
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control pres-input" name="batchNo{{i}}"
                                [(ngModel)]="item.batchNo" required>
                        </div>

                        <div class="col-md-1 form-group">
                            <input type="text" class="form-control pres-input" name="qty{{i}}" [(ngModel)]="item.qty"
                                required>
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control pres-input" [(ngModel)]="item.expiry"
                                name="expiry{{i}}" required>
                        </div>
                        <div class="col-md-2">
                            <mat-icon class="add-icon clickable" (click)="removeTestParameter(i)">delete</mat-icon>
                            &nbsp;&nbsp;
                            <mat-icon *ngIf="(i+1)==newPurchase.length" class="add-icon clickable"
                                (click)="addTestParameter()">add_circle_outline</mat-icon>
                        </div>

                    </div>
                </div>
            </div>

        </mat-expansion-panel>

        <div class="d-flex flex-row justify-content-center mt-3">
            <button class="common-button">{{'save'}}</button>
        </div>
    </mat-accordion>
</section>