<section class="section-org-edit">
    <h2>Add Service</h2>
    <form>
        <div class="row">
            <!-- Service Code-->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Service Code</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="" class="form-control app-input" name="serviceCode" required>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Service Name -->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Service Name</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control app-input" name="serviceName" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Service Type -->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Service Type</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <select name="text" class="app-single-select-dropdown w-100" required>
                                <option value="">Select</option>
                                <option value="opd">OPD</option>
                                <option value="percentage">Investigation</option>
                                <option value="procedure">Procedure</option>
                                <option value="ot">OT</option>
                                <option value="admission">Admission</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Department -->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Department</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input class="form-control app-input" name="depatment" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Associated Doctor-->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label"> Associated Doctor</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="" class="form-control app-input" name="serviceCode" required>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Fee Type -->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Fee Type</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <select name="feeType" class="app-single-select-dropdown w-100" required>
                                <option value="">Select</option>
                                <option value="Fixed">Fixed</option>
                                <option value="Commissioned">Commissioned</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Fee-->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Fee</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="" class="form-control app-input" name="serviceCode" required>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Fee Distribution -->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Fee Distribution</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <select name="feeDistribution" class="app-single-select-dropdown w-100" required>
                                <option value="">Select</option>
                                <option value="Fixed">Fixed</option>
                                <option value="Percentage">Percentage</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="">
            <div class="column">
                <!-- Doctor Fee-->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label class="app-label">Doctors Fee</label>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="" class="form-control app-input" name="doctorFee" required appNumberOnly>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Org fee -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label class="app-label">Org Fee</label>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="" class="form-control app-input" name="doctorFee" required appNumberOnly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="d-flex align-items-center justify-content-center mb-5">
        <div class="col-1">
            <button class="common-button">save</button>
        </div>
    </div>
</section>