<section>
    <app-label>Prescription</app-label>

<mat-accordion>
    <mat-expansion-panel class="my-3">
        <mat-expansion-panel-header class="app-expansion">
            <div class="app-expansion-title col-md-12">
                <span>Patient Id: <span>0812</span></span>
                <span>Visiting ID: <span>booking_id</span></span>
                <span>First Name: <span>Mayank</span></span>
                <span>Doctor's Name: <span>M.Patidar</span></span>
                <span>Date: <span>02/08/23</span></span>
            </div>
        </mat-expansion-panel-header>

        <mat-card class="table-card-style">
            <div class="row">
                <h4>Rx</h4>
            </div>

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
                    <!--Sno -->
                    <ng-container matColumnDef="sno">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sno </th>
                        <td mat-cell *matCellDef="let row"> {{row.sno}} </td>
                    </ng-container>

                    <!-- medicine -->
                    <ng-container matColumnDef="medicine">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Medicine</th>
                        <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.medicine}} </td>
                    </ng-container>

                    <!--dosage -->
                    <ng-container matColumnDef="dosage">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Dosage </th>
                        <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.dosage}} </td>
                    </ng-container>
                    <!-- Duration -->
                    <ng-container matColumnDef="duration">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration </th>
                        <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.duration}} </td>
                    </ng-container>
                    <!-- select -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Select </th>
                        <td mat-cell *matCellDef="let row" class="action-style text-ellipsis"><mat-checkbox
                                class="large-mat-checkbox"></mat-checkbox></td>
                    </ng-container>
                   
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
            <div class="d-flex align-items-center justify-content-end my-2">
                <div class="col-3">
                    <button class="common-button">Add to Billing</button>
                </div>
            </div>
        </mat-card>
    </mat-expansion-panel>
</mat-accordion>
</section>