.heading-style{
   margin-bottom: -30px;
}

.input-stylee{
   border-radius: 12px;
   width:120px;
   margin-bottom: 20px;
   margin-top:20px;
   margin-right: 10px;
 }
 .btn-style{
   text-align: center;
   width: fit-content;
   margin-bottom:20px;
 }