<div id="printable-content">
  <div style="text-align:center">
    <h1 class="style-heading">Jp Hospital</h1>
    <p class="style-department">Department - Pathology</p>
  </div>

  <div class="d-flex flex-direction-row" style="text-align:center">
    <span class="me-3">Print Date:03/10/2023, </span>
    <span>Print Time:01:55 PM</span>
  </div>

  <div mat-dialog-content>
    <div>
      <div style="text-align:center">
      </div>
      <div style="text-align:center">
        <ngx-barcode6 class='style-barcode' [bc-format]="'CODE128'" [bc-value]="'P12584'" [bc-display-value]="false">
        </ngx-barcode6>
        <span>Patient Id: P12584</span>
      </div>
      <div style="text-align:center">
        <ngx-barcode6 [bc-format]="'CODE128'" [bc-value]="'T125840'" [bc-display-value]="false">
        </ngx-barcode6>
        <span>Test Id: CODE128</span>
      </div>
    </div>
  </div>
</div>

<mat-dialog-actions align="end">
  <button mat-button matDialogClose="no">Cancel</button>
  <button mat-button (click)="printBarcode()">Print</button>
</mat-dialog-actions>