<div id="printable-content">
  <div style="text-align:center">
    <h1 class="style-heading">Jp Hospital</h1>
    <p class="style-department">Department - Pathology</p>
  </div>

  <div class="d-flex flex-direction-row" style="text-align:center">
    <span class="me-3">Print Date: {{date |date}} </span>
    <span>Print Time: {{date | date:'h:mm a'}}</span>
  </div>

  <div mat-dialog-content>
    <div>
      <div style="text-align:center">
      </div>
      <div style="text-align:center">
        <ngx-barcode6 class='style-barcode' [bc-format]="'CODE128'" [bc-value]="data.booking.booking.patientNo" [bc-display-value]="false">
        </ngx-barcode6>
        <span>Patient Id: <span>{{data.booking.booking.patientNo}}</span></span>
      </div>
      <div style="text-align:center">
        <ngx-barcode6 [bc-format]="'CODE128'" [bc-value]="data.row.item.code" [bc-display-value]="false">
        </ngx-barcode6>
        <span>Test Id: <span>{{data.row.item.code}}</span></span>
      </div>
    </div>
  </div>
</div>

<mat-dialog-actions align="end">
  <button mat-button matDialogClose="no">Cancel</button>
  <button mat-button (click)="printBarcode()">Print</button>
</mat-dialog-actions>