  .style-barcode{
    width: 5cm;
    height: 2.5cm;
    background-color: white; /* Set the background color to ensure it's printed */
    padding: 10px;
  }
  .style-heading{
    color:black;
    font-weight: 600;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-top:20px;
    margin-bottom:20px;
  }
  .style-department{
    background-color: black;
    color:white;
    font-size: 25px;
    padding: 8px;
  }