<section class="section-sigin">
    <h1 class="mb-3" [ngClass]="'typing-effect'">
        Welcome to AAYAM
    </h1>
    <div class="container  g-0">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6">
                <!-- Image -->
                <img (error)="coverImageError($event)" [src]="cover" class="img-style" />
            </div>
            <div class="col-lg-6">
                <!-- Form -->
                <mat-card class="login-card">
                    <img (error)="logoImageError($event)" [src]="logo" class="logo-style" />
                    <mat-card-header class="login-heading">
                        <mat-card-title class="title-style">Login</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <form #loginForm="ngForm">
                            <div class="row mb-3">
                                <!-- Email Address -->
                                <div class="col-md- d-flex flex-column justify-content-center align-items-center">
                                    <div
                                        class="col-md-10 d-flex flex-row justify-content-start align-items-center mb-2">
                                        <label for="exampleInputEmail1" class="app-label">Employee Code</label>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control app-input"
                                                [(ngModel)]="userAuth.email" placeholder="Enter Employee code" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!-- Password -->
                                <div class="col-md- d-flex flex-column justify-content-center align-items-center">
                                    <div
                                        class="col-md-10 d-flex flex-row justify-content-start align-items-center mb-2">
                                        <label for="exampleInputEmail1" class="app-label">Password</label>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <input type="password" class="form-control app-input" name="password"
                                                [(ngModel)]="userAuth.password" placeholder="Enter your password"
                                                required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                    <mat-card-actions class="login-btn">
                        <button [disabled]="loginForm.invalid" (click)="login()" mat-raised-button class="btn w-100"
                            type="submit" color="primary">Sign in</button>
                    </mat-card-actions>
                    <button (click)="forgotPassword()" class="forgot-btn-style">forgot password?</button>
                </mat-card>
            </div>
        </div>
    </div>
</section>