.section-sigin {
    .login-card {
        background-color: rgb(235, 225, 237);
        text-align: center;
    }

    .img-style {
        //  height: 100%;
         width: 100%;
    }

    .logo-style {
        // width: 50%;
        align-self: center;
        margin-top: 20px;
        // margin-bottom: 20px;
        height: 90px;
    }

    .login-heading {
        align-self: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .title-style {
        font-size: 30px;
    }

    .login-btn {
        align-self: center;
        margin-bottom: 10px;
    }

    .success-message {
        color: green;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .error-message {
        color: red;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .typing-effect {
        text-align: center;
        background-color: pink;
        color: rgb(11, 9, 9);
        overflow: hidden;
        /* Hide the overflow */
        border-right: .15em solid rgb(239, 236, 232);
        /* Add a blinking cursor effect */
        white-space: nowrap;
        /* Prevent line breaks */
        margin: 0 auto;
        /* Center the heading */
        letter-spacing: .05em;
        /* Adjust the letter spacing */
        animation: typing 40s steps(90, end), blink-caret .75s step-end infinite;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        width: 20%;
    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 100%;
        }
    }

    @keyframes blink-caret {

        from,
        to {
            border-color: transparent;
        }

        50% {
            border-color: transparent;
        }
    }

    .forgot-btn-style{
        border: none;
        background-color: transparent;
        color:blue;
        margin-bottom: 8px;
    }
}
