<section class="section-sigin">
    <h1 class="mb-3" [ngClass]="'typing-effect'">
        Welcome to AAYAM
    </h1>
    <div class="container  g-0">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6">
                <!-- Image -->
                <img src="https://aayamskinclinic.com/images/about-dr.jpg" class="img-style" />
            </div>
            <div class="col-lg-6">
                <!-- Form -->
                <mat-card class="login-card">
                    <img src="https://aayamskinclinic.com/images/logo.jpg" class="logo-style" />
                    <mat-card-header class="login-heading">
                        <mat-card-title class="title-style">Login</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <form #loginForm="ngForm">
                            <!-- Email Address -->
                            <mat-form-field>
                                <label class="app-label mb-1" for="email">Employee Code</label>
                                <input  type="email" name="email" class="form-control app-input"
                                    [(ngModel)]="userAuth.email" placeholder="Enter Employee code" required>
                            </mat-form-field>

                            <!-- Password -->
                            <mat-form-field>
                                <label class="app-label mb-1" for="password">Password</label>
                                <input type="password" class="form-control app-input" name="password"
                                    [(ngModel)]="userAuth.password" placeholder="Enter your password" required>
                            </mat-form-field>
                        </form>
                    </mat-card-content>
                    <mat-card-actions class="login-btn">
                        <button [disabled]="loginForm.invalid" (click)="login()" mat-raised-button class="btn w-100"
                            type="submit" color="primary">Sign in</button>
                    </mat-card-actions>
                    <button (click)="forgotPassword('0ms', '0ms')" class="forgot-btn-style">forgot password?</button>
                </mat-card>
            </div>
        </div>
    </div>
</section>