<section class="section-org-edit ">

    <form #patientForm="ngForm">
        <mat-list class="row">
            <div class="row">
                <!-- Otp -->
                <div class="col-md-12 d-flex flex-column justify-content-start align-items-center mt-5">
                    <div class="col-md-12 mb-2">
                        <label for="exampleInputEmail1" class="app-label">Enter Otp</label>
                    </div>
                    <form #otpForm="ngForm">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input [maxlength]="6" [minlength]="6" appNumberOnly [(ngModel)]="otp" class="form-control app-input" name="otp" placeholder="Enter Otp" required>
                            </div>
                        </div>
                    </form>
                    <div class="mt-2">
                        <button [disabled]="otpForm.invalid" class="common-button" (click)="verifyOtp()">Verify Otp</button>
                    </div>
                </div>
            </div>
        </mat-list>

    </form>

    <mat-dialog-actions align="end">
        <button mat-button matDialogClose="no">Cancel</button>
    </mat-dialog-actions>
</section>