<section class="section-org">
    <mat-button-toggle-group class="tab-style align-items-center" [(ngModel)]="tabValue" aria-label="Font Style">
        <mat-button-toggle class="tab-content" (change)="tabChange()" value="USERPROFILE">User Profile</mat-button-toggle>
        <mat-button-toggle class="tab-content" (change)="tabChange()" value="ACCOUNTS">Account/Salary</mat-button-toggle>
        <!-- newly added for Login crendentials of user -->
        <mat-button-toggle class="tab-content" (change)="tabChange()" value="USERLOGIN">User Login</mat-button-toggle>

        <mat-button-toggle class="tab-content" (change)="tabChange()" value="ATTENDANCE">Attendance</mat-button-toggle>
    </mat-button-toggle-group>
</section>

<section class="section-org-edit">

    <div *ngIf="showSectionUserProfile">
        <app-user-profile [userTypeList]="userTypeList" [departmentList]="departmentList" [department]="department"
            [(staff)]="staff" (pubSub)="formChangeOrg($event)"></app-user-profile>

        <div class="d-flex align-items-center justify-content-center mb-4">
            <div class="col-1">
                <button class="common-button" (click)="onSavingUserProfile()">{{'save'}}</button>
            </div>
            <div class="col-2">
                <button *ngIf="staff.user.img" class="common-button"  (click)="generateIdCard('0ms', '0ms')">{{'Generate Id Card'}}</button>
            </div>
            <div class="col-2">
                <button *ngIf="staff.user.img" class="common-button"  (click)="generateIdCard2('0ms', '0ms')">{{'Generate Id Card 2'}}</button>
            </div>
        </div>
    </div>

    <div *ngIf="showSectionAccounts">
        <app-accounts [staff]="staff"></app-accounts>
        <div class="d-flex align-items-center justify-content-center mb-5">
            <div class="col-1">
                <button class="common-button" (click)="onSavingUserAccount()">save</button>
            </div>
        </div>
    </div>

    <div *ngIf="showSectionUserLogin">
        <app-user-login></app-user-login>
        <div class="d-flex align-items-center justify-content-center mb-5">
            <div class="col-1">
                <button class="common-button" (click)="onSavingUserAccount()">save</button>
            </div>
        </div>
    </div>
    <!-- TODO: THIS will be used in future when attendence feature will be added -->
    <!-- <div *ngIf="showSectionAttendance">
        <app-attendance></app-attendance> 
    </div> -->
</section>