<section class="section-service-item-edit">
    <form #serviceItemForm="ngForm">
        <mat-list class="row">
            <mat-list-item class="section-title">
                Service Item Info
            </mat-list-item>
            <div class="row g-0">
                <div class="col-md pad-r-md-1">
                    <mat-form-field appearance="outline">
                        <mat-label>Service Name</mat-label>
                        <input matInput placeholder="Service Name" name="name" [(ngModel)]="serviceItemBr.name"
                            required>
                    </mat-form-field>
                </div>
                <div class="col-md pad-l-md-1">
                    <mat-form-field appearance="outline">
                        <mat-label>Doctor</mat-label>
                        <mat-select [(ngModel)]="serviceItemBr._id" name="doctor">
                            <mat-option *ngFor="let doctor of doctorList" [value]="doctor._id">
                                {{doctor.nameF}} {{doctor.nameL}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-md pad-r-md-1">
                    <mat-form-field appearance="outline">
                        <mat-label>Fee</mat-label>
                        <input matInput placeholder="price" name="price" [(ngModel)]="serviceItemBr.fee" required>
                    </mat-form-field>
                </div>
                <div class="col-md pad-l-md-1">
                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <input matInput placeholder="description" name="description" [(ngModel)]="serviceItemBr.status">
                    </mat-form-field>
                </div>
            </div>
        </mat-list>
    </form>
</section>