<section class="section-org-edit">
    <mat-list class="row">
        <app-label>Prescription</app-label>
        <div class="col-md-12">
            <button (click)="addNewPrescription()" [disabled]="showSectionAdd" class="common-button">Add New</button>
        </div>
        <mat-accordion *ngFor="let booking of userBookingInvestigationList?.bookingList">
            <mat-expansion-panel class="my-3" *ngIf="booking._id != userBooking.booking?._id">
                <mat-expansion-panel-header class="app-expansion">
                    <div class="app-expansion-title col-md-12">
                        <span>UHID: <span>{{booking.patientNo}}</span></span>
                        <span>Visiting ID: <span>{{booking.no}}</span></span>
                        <span>First Name: <span
                                *ngIf="userBookingInvestigationList?.user">{{userBookingInvestigationList.user.nameF ??
                                ''}}
                                {{userBookingInvestigationList.user.nameL ?? ''}}</span></span>
                        <span>Doctor's Name: <span>{{getDoctorById(userBooking.booking.dr)}}</span></span>
                        <span>Date: <span>{{booking.bookingDate | date}}</span></span>
                    </div>
                </mat-expansion-panel-header>
                <div class="mt-4">
                    <!-- <mat-accordion *ngIf="showSectionAdd">
                        <mat-expansion-panel class="my-3">
                            <mat-expansion-panel-header class="sub-app-expansion"> -->
                    <span class="prescription-heading">Patient Complaints</span>
                    <!-- </mat-expansion-panel-header> -->
                    <!-- <div class="border border-info rounded p-3 mt-3"> -->
                    <div class="mt-3">

                        <div class="row">
                            <p class="col-md-1"><strong>Sno.</strong></p>
                            <p class="col-md-8"><strong>Details</strong></p>
                            <p class="col-md-2"></p>
                        </div>
                        <div *ngFor="let complaint of booking.complaint; let i = index;" class="row align-items-center">
                            <div class="row align-items-center">
                                <div class="col-md-1 pres-input text-center">
                                    <p class="border border-info rounded p-1 text-align-center">{{i+1}}</p>
                                </div>

                                <!-- complaint details -->
                                <div class="col-md-8 form-group">
                                    <input type="text" class="form-control pres-input" name="complaint{{i}}"
                                        [(ngModel)]="booking.complaint[i]" required [readOnly]="true">
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <!-- </mat-expansion-panel>
                    </mat-accordion> -->
                    <div class="mt-4">
                        <!-- <mat-accordion *ngIf="showSectionAdd">
                            <mat-expansion-panel class="my-3">
                                <mat-expansion-panel-header class="sub-app-expansion"> -->
                        <span class="prescription-heading">Diagnosis</span>
                        <!-- </mat-expansion-panel-header> -->
                        <!-- <div class="border border-info rounded p-3 mt-3"> -->
                        <div class="mt-3">

                            <div class="row">
                                <p class="col-md-1"><strong>Sno.</strong></p>
                                <p class="col-md-8"><strong>Details</strong></p>
                                <p class="col-md-2"></p>
                            </div>
                            <div *ngFor="let diagnos of booking.diagnosis; let i = index;"
                                class="row align-items-center">
                                <div class="row align-items-center">
                                    <div class="col-md-1 pres-input text-center">
                                        <p class="border border-info rounded p-1 text-align-center">{{ i+1 }}
                                        </p>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="text" class="form-control pres-input" name="diagnosis{{i}}"
                                            [(ngModel)]="booking.diagnosis[i]" required>
                                    </div>
                                    <div class="col-md-2">
                                        <mat-icon (click)="removeDiagnosisItem(i)"
                                            class="add-icon clickable">delete</mat-icon>
                                        &nbsp;&nbsp;
                                        <mat-icon (click)="addDiagnosisItem()"
                                            *ngIf="(i+1) === booking.diagnosis?.length"
                                            class="add-icon clickable">add_circle_outline</mat-icon>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                        <!-- </mat-expansion-panel>
                        </mat-accordion> -->
                    </div>
                    <div class="mt-4">
                        <!-- <mat-accordion *ngIf="showSectionAdd">
                            <mat-expansion-panel class="my-3">
                                <mat-expansion-panel-header class="sub-app-expansion"> -->
                        <span class="prescription-heading">Rx</span>
                        <!-- </mat-expansion-panel-header> -->
                        <!-- <div class="border border-info rounded p-3 mt-3"> -->
                        <div class="mt-3">

                            <div class="row">
                                <div class="col-md-1"><strong>Sno.</strong></div>
                                <div class="col-md-3"><strong>Medicine</strong></div>
                                <div class="col-md-2"><strong>Dosage</strong></div>
                                <div class="col-md-2"><strong>Duration</strong></div>
                                <div class="col-md-2"><strong>Remark</strong></div>
                                <div class="col-md-2"></div>
                            </div>
                            <div *ngFor="let item of booking.prescription; let i = index;"
                                class="row align-items-center">
                                <div class="row align-items-center">
                                    <div class="col-md-1 pres-input text-center">
                                        <p class="border border-info rounded p-1 text-align-center">
                                            {{ i+1 }}
                                        </p>
                                    </div>
                                    <!-- Medicine Type -->
                                    <div class="form-group d-flex justify-content-between align-items-center col-md-3">
                                        <select name="medicine-type" class="app-single-select-dropdown w-100"
                                            [(ngModel)]="booking.prescription[i].name">
                                            <option *ngFor="let product of productList">{{product.name}}
                                            </option>
                                        </select>
                                        <!-- <mat-icon class="add-icon">add_circle_outline</mat-icon> -->
                                    </div>
                                    <!-- Dosage -->
                                    <div class="form-group col-md-2">
                                        <select name="dosage" class="app-single-select-dropdown w-100"
                                            [(ngModel)]="booking.prescription[i].dosage">
                                            <option>RX = Treatment</option>
                                            <option>HX = History</option>
                                            <option>DX = Diagnosis</option>
                                            <option>qd = Every day</option>
                                            <option>qod = Every other day</option>
                                            <option>qh = Every Hour</option>
                                            <option>SOS = If needed</option>
                                            <option>AC = Before Meals</option>
                                            <option>PC = After Meals</option>
                                            <option>BID = Twice a Day</option>
                                            <option>TID = Thrice a Day</option>
                                            <option>QID = Four times a day</option>
                                            <option>OD = Once a Day</option>
                                            <option>BT = Bed Time</option>
                                            <option>BBF = Before Breakfast</option>
                                            <option>BD = Before Dinner</option>
                                            <option>Tw = Twice a week</option>
                                            <option>SQ = sub cutaneous</option>
                                            <option>IM = IntraMusclular</option>
                                            <option>ID = Intradermal</option>
                                            <option>IV = Intravenous</option>
                                        </select>
                                    </div>
                                    <!-- Duration -->
                                    <div class="form-group col-md-2">
                                        <input name="duration" type="text" class="form-control pres-input w-100"
                                            [(ngModel)]="booking.prescription[i].duration">
                                    </div>
                                    <!-- Remark -->
                                    <div class="form-group col-md-2">
                                        <input type="text" class="form-control pres-input w-100" name="remark"
                                            [(ngModel)]="booking.prescription[i].instruction">
                                    </div>

                                    <div class="col-md-2">
                                        <mat-icon (click)="removeRxItem(i)" class="add-icon clickable">delete</mat-icon>
                                        &nbsp;&nbsp;
                                        <mat-icon (click)="addRxItem()" *ngIf="(i+1) === booking.prescription?.length"
                                            class="add-icon clickable">add_circle_outline</mat-icon>
                                    </div>
                                </div>
                            </div>
                            <br class="border-style" />
                        </div>
                        <!-- </mat-expansion-panel>
                        </mat-accordion> -->
                        <hr />
                    </div>
                    <div class="mt-4 row align-items-center">
                        <div class="col-md-3">
                            <span class="prescription-heading">Investigation</span>
                            <textarea class="form-control pres-input" name="investigation"
                                [(ngModel)]="booking.test"></textarea>
                        </div>
                        <div class="col-md-3">
                            <span class="prescription-heading">Remark</span>
                            <textarea type="text" class="form-control pres-input" name="remarks"
                                [(ngModel)]="booking.instruction"></textarea>
                        </div>
                        <!-- <div class="col-md-3">
                            <input type="checkbox" class="me-1" name="checkbox" [(ngModel)]="isNextVisitChecked">
                            <span class="prescription-heading">Next Visit(after days)</span>
                            <input *ngIf="isNextVisitChecked " type="date" class="form-control pres-input"
                                name="nextvisit" [(ngModel)]="userBooking.booking.nextVisitDate">
                        </div> -->

                        <div class="col-md-3">
                            <input type="checkbox" class="me-1" name="checkbox" [(ngModel)]="isNextVisitChecked">
                            <span class="prescription-heading">Next Visit(after days)</span>
                            <input *ngIf="isNextVisitChecked" type="number" class="form-control pres-input"
                                name="nextVisitDays" [(ngModel)]="nextVisitDays" (input)="updateMinNextVisitDate()">
                            <p *ngIf="isNextVisitChecked" readonly class="form-control pres-input">
                                {{booking.nextVisitDate|date}}
                            </p>
                        </div>
                    </div>
                    <div class="mt-2 d-flex justify-content-end">
                        <button class="common-button">Print</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion *ngIf="showSectionAdd">
            <mat-expansion-panel class="my-3">
                <mat-expansion-panel-header class="app-expansion">
                    <div class="app-expansion-title col-md-12">
                        <!-- <span>UHID: <span>{{userBooking.booking.patientNo}}</span></span> -->
                        <span>UHID:<span>{{userBookingInvestigationList.bookingList[0].patientNo}}</span></span>

                        <!-- <span>Visiting ID: <span>{{userBooking.booking.no}}</span></span> -->
                        <span>Visiting ID: <span>{{userBookingInvestigationList.bookingList[userBookingInvestigationList.bookingList.length-1].no}}</span></span>

                        <span>Name: <span *ngIf="userBookingInvestigationList?.user">{{userBooking.user.nameF ??
                                ''}}
                                {{userBooking.user.nameL ?? ''}}</span></span> <span>Doctor's Name:
                            <span>{{getDoctorById(userBooking.booking.dr)}}</span></span>
                        <span>Date: <span>{{userBooking.booking.bookingDate | date}}</span></span>
                    </div>
                </mat-expansion-panel-header>
                <div class="mt-4">

                    <!-- <mat-accordion>
                        <mat-expansion-panel class="my-3">
                            <mat-expansion-panel-header class="sub-app-expansion"> -->
                    <span class="prescription-heading">Patient Complaints</span>
                    <!-- </mat-expansion-panel-header> -->
                    <div class="mt-3">
                        <div class="row">
                            <p class="col-md-1"><strong>Sno.</strong></p>
                            <p class="col-md-8"><strong>Details</strong></p>
                            <p class="col-md-2"></p>
                        </div>
                        <div *ngFor="let complaint of userBooking.booking.complaint; let i = index; trackBy: trackByFn"
                            class="row align-items-center">
                            <div class="row align-items-center">
                                <div class="col-md-1 pres-input text-center">
                                    <p class="border border-info rounded p-1 text-align-center">{{i+1}}</p>
                                </div>

                                <!-- complaint details -->
                                <div class="col-md-8 form-group">
                                    <input class="form-control pres-input" name="booking_complaint{{i}}"
                                        [(ngModel)]="userBooking.booking.complaint[i]">
                                </div>
                                <div class="col-md-2">
                                    <mat-icon (click)="removeComplaintItem(i)"
                                        class="add-icon clickable">delete</mat-icon>
                                    &nbsp;&nbsp;
                                    <mat-icon (click)="addComplaintItem()"
                                        *ngIf="(i+1) === userBooking.booking.complaint?.length"
                                        class="add-icon clickable">add_circle_outline</mat-icon>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <!-- </mat-expansion-panel>
                    </mat-accordion> -->
                    <div class="mt-4">
                        <!-- <mat-accordion *ngIf="showSectionAdd">
                            <mat-expansion-panel class="my-3">
                                <mat-expansion-panel-header class="sub-app-expansion"> -->
                        <span class="prescription-heading">Diagnosis</span>
                        <!-- </mat-expansion-panel-header> -->
                        <div class="mt-3">
                            <div class="row">
                                <p class="col-md-1"><strong>Sno.</strong></p>
                                <p class="col-md-8"><strong>Details</strong></p>
                                <p class="col-md-2"></p>
                            </div>
                            <div *ngFor="let diagnos of userBooking.booking.diagnosis; let i = index; trackBy: trackByFn"
                                class="row align-items-center">
                                <div class="row align-items-center">
                                    <div class="col-md-1 pres-input text-center">
                                        <p class="border border-info rounded p-1 text-align-center">{{ i+1 }}
                                        </p>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="text" class="form-control pres-input" name="diagnosis{{i}}"
                                            [(ngModel)]="userBooking.booking.diagnosis[i]" required>
                                    </div>
                                    <div class="col-md-2">
                                        <mat-icon (click)="removeDiagnosisItem(i)"
                                            class="add-icon clickable">delete</mat-icon>
                                        &nbsp;&nbsp;
                                        <mat-icon (click)="addDiagnosisItem()"
                                            *ngIf="(i+1) === userBooking.booking.diagnosis?.length"
                                            class="add-icon clickable">add_circle_outline</mat-icon>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                        <!-- </mat-expansion-panel>
                        </mat-accordion> -->
                    </div>
                    <div class="mt-4">
                        <!-- <mat-accordion *ngIf="showSectionAdd">
                            <mat-expansion-panel class="my-3">
                                <mat-expansion-panel-header class="sub-app-expansion"> -->
                        <span class="prescription-heading">Rx</span>
                        <!-- </mat-expansion-panel-header> -->
                        <div class="mt-3">
                            <div class="row">
                                <div class="col-md-1"><strong>Sno.</strong></div>
                                <div class="col-md-3"><strong>Medicine</strong></div>
                                <div class="col-md-2"><strong>Dosage</strong></div>
                                <div class="col-md-2"><strong>Duration(in days)</strong></div>
                                <div class="col-md-2"><strong>Remark</strong></div>
                                <div class="col-md-2"></div>
                            </div>
                            <div *ngFor="let item of userBooking.booking.prescription; let i = index;"
                                class="row align-items-center">
                                <div class="row align-items-center">
                                    <div class="col-md-1 pres-input text-center">
                                        <p class="border border-info rounded p-1 text-align-center">
                                            {{ i+1 }}
                                        </p>
                                    </div>
                                    <!-- Medicine Type -->

                                    <div class="form-group d-flex justify-content-between align-items-center col-md-3">
                                        <!-- <select name="medicine" class="app-single-select-dropdown w-100"
                                            [(ngModel)]="userBooking.booking.prescription[i].productId"
                                            (ngModelChange)="prescriptionChange($event, i)">
                                            <option [value]="null" [disabled]="true">Select Medicine</option>
                                            <option [value]="Other">OTHER</option>
                                            <option *ngFor="let product of productList" [value]="product._id">
                                                {{product.name}}
                                            </option>
                                        </select>
                                        
                                        <input *ngIf="userBooking.booking.prescription[i].productId === 'OTHER'" 
                                        type="text" 
                                        [(ngModel)]="userBooking.booking.prescription[i].name" 
                                        placeholder="Enter Medicine Name" 
                                        class="form-control ml-2"> -->

                                        <ng-multiselect-dropdown [placeholder]="'Select Medicine'" class="app-single-select-dropdown w-100"
                                        name="medicine{{i}}"
                                            [settings]="dropdownSettings" [data]="medicineSelectList"
                                            [(ngModel)]="selectedMedicine[i]"
                                            (ngModelChange)="prescriptionChange($event, i)">
                                            
                                        </ng-multiselect-dropdown>

                                        <!-- <input *ngIf="userBooking.booking.prescription[i].productId === 'OTHER'"
                                            type="text" [(ngModel)]="userBooking.booking.prescription[i].name"
                                            placeholder="Enter Medicine Name" class="form-control ml-2"> -->

                                    </div>

                                    <!-- <input type="text" *ngIf="showMedicineInput" placeholder="medicine" [(ngModel)]="userBooking.booking.prescription[i].name"> -->
                                    <!-- Dosage -->
                                    <div class="form-group col-md-2">
                                        <select name="dosage" class="app-single-select-dropdown w-100"
                                            [(ngModel)]="userBooking.booking.prescription[i].dosage">
                                            <option [value]="null" [disabled]="true">Select Medicine</option>
                                            <option *ngFor="let dosage of dosageList" [value]="dosage.id">
                                                {{dosage.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <!-- Duration -->
                                    <div class="form-group col-md-2 d-flex justify-content-between">
                                        <input type="text" class="form-control pres-input w-100" name="duration"
                                            [(ngModel)]="userBooking.booking.prescription[i].duration">
                                    </div>
                                    <!-- Remark -->
                                    <div class="form-group col-md-2">
                                        <input type="text" class="form-control pres-input w-100" name="remark"
                                            [(ngModel)]="userBooking.booking.prescription[i].instruction">
                                    </div>
                                    <div class="col-md-2">
                                        <mat-icon (click)="removeRxItem(i)" class="add-icon clickable">delete</mat-icon>
                                        &nbsp;&nbsp;
                                        <mat-icon (click)="addRxItem()"
                                            *ngIf="(i+1) === userBooking.booking.prescription?.length"
                                            class="add-icon clickable">add_circle_outline</mat-icon>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                        <!-- </mat-expansion-panel>
                        </mat-accordion> -->
                    </div>
                    <div class="mt-4 row align-items-center">
                        <div class="col-md-3">
                            <span class="prescription-heading">Investigation</span>
                            <textarea type="text" class="form-control pres-input" name="investigation"
                                [(ngModel)]="userBooking.booking.test"></textarea>
                        </div>
                        <div class="col-md-3">
                            <span class="prescription-heading">Remark</span>
                            <textarea type="text" class="form-control pres-input" name="remarks"
                                [(ngModel)]="userBooking.booking.instruction"></textarea>
                        </div>
                        <!-- <div class="col-md-3">
                            <input type="checkbox" class="me-1" name="checkbox" [(ngModel)]="isNextVisitChecked">
                            <span class="prescription-heading">Next Visit(after days)</span>
                            <input *ngIf="isNextVisitChecked" appNumberOnly class="form-control pres-input"
                                name="nextVisitDays" [(ngModel)]="nextVisitDays" (input)="updateMinNextVisitDate()">
                            <p *ngIf="isNextVisitChecked" readonly class="form-control pres-input">
                                {{userBooking.booking.nextVisitDate|date}}
                            </p>
                        </div> -->
                        <div class="col-md-3">
                            <input type="checkbox" class="me-1" name="checkbox" [(ngModel)]="isNextVisitChecked">
                            <span class="prescription-heading">Next Visit(after days)</span>
                            <input *ngIf="isNextVisitChecked" type="number" class="form-control pres-input"
                                name="nextVisitDays" [(ngModel)]="nextVisitDays" (input)="updateMinNextVisitDate()">
                            <p *ngIf="isNextVisitChecked" readonly class="form-control pres-input">
                                {{userBooking.booking.nextVisitDate| date}}
                            </p>
                        </div>


                    </div>
                    <div class="mt-2 d-flex justify-content-end">
                        <button (click)="printPrescription()" class="common-button">Print</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-list>
</section>