<section class="section-org-edit">

    <div class="container">
        <div class="row mt-4">
            <app-label>Observations</app-label>
            <div class="col-md-2">
                <button class="btn btn-info">Add New</button>
            </div>
            <mat-accordion>
                <mat-expansion-panel class="my-3" *ngFor="let b of pastBookingList">
                    <mat-expansion-panel-header class="app-expansion">
                        <div class="app-expansion-title col-md-12">
                            <span>Patient ID: <span>{{b.booking.patientNo}}</span></span>
                            <span>Booking ID: <span>{{b.booking.no}}</span></span>
                            <span>First Name: <span>{{b.user.nameF}}</span></span>
                            <span>Doctor's Name: <span>Jitendra</span></span>
                            <span>Date: <span>{{b.booking.bookingDate}}</span></span>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="border border-info rounded p-3 mt-4">
                        <!-- <div class=" d-flex justify-content-between">
                            <p class=""><strong>Sno.</strong></p>
                            <p class="col-md-8"><strong>Investigations</strong></p>
                            <p class="col-md-2"></p>
                        </div>
                        <div class="  d-flex justify-content-between" *ngFor="let item of patientTests; let i=index">
                            <p class=" border border-info rounded p-1 px-2">{{i+1}}</p>
                            <p class="col-md-8 border border-info rounded p-1 ">{{item.testsArray[i]}}</p>
                            <button class="warn-button btn btn-info h-25">Preview</button>
                            <button class="download-button btn btn-info h-25">Download</button>
                        </div> -->
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel class="my-3">
                    <mat-expansion-panel-header class="app-expansion">
                        <div class="app-expansion-title col-md-12">
                            <span>Patient ID: <span>{{booking.booking.patientNo}}</span></span>
                            <span>Booking ID: <span>{{booking.booking.no}}</span></span>
                            <span>First Name: <span>{{booking.user.nameF}}</span></span>
                            <span>Doctor's Name: <span>Jitendra</span></span>
                            <span>Date: <span>{{booking.booking.bookingDate}}</span></span>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="border border-info rounded p-3 mt-4">
                        <!-- <div class=" d-flex justify-content-between">
                                            <p class=""><strong>Sno.</strong></p>
                                            <p class="col-md-8"><strong>Investigations</strong></p>
                                            <p class="col-md-2"></p>
                                        </div>
                                        <div class="  d-flex justify-content-between" *ngFor="let item of patientTests; let i=index">
                                            <p class=" border border-info rounded p-1 px-2">{{i+1}}</p>
                                            <p class="col-md-8 border border-info rounded p-1 ">{{item.testsArray[i]}}</p>
                                            <button class="warn-button btn btn-info h-25">Preview</button>
                                            <button class="download-button btn btn-info h-25">Download</button>
                                        </div> -->
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>

    <!-- <form #observationForm="ngForm">
        <mat-list class="row">

            <mat-list-item class="section-title">
                Observations
            </mat-list-item>

            <div class="row g-0">
                <div class="col-md pad-r-md-1">
                    <mat-form-field appearance="outline">
                        <mat-label>Weight(Kg)</mat-label>
                        <input matInput placeholder="Weight in Kg" name="weight" [(ngModel)]="observation.weight"
                            required>
                    </mat-form-field>
                </div>
                <div class="col-md pad-l-md-1">
                    <mat-form-field appearance="outline">
                        <mat-label>Height(cm)</mat-label>
                        <input matInput placeholder="Height in cm" name="height" [(ngModel)]="observation.height"
                            required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row g-0">
                <div class="col-md pad-r-md-1">
                    <mat-form-field appearance="outline">
                        <mat-label>Blood Pressure(Min)</mat-label>
                        <input matInput [(ngModel)]="observation.bpMin" name="bpMin" placeholder="Min Blood Pressure." required/>
                    </mat-form-field>
                </div>
                <div class="col-md pad-l-md-1">
                    <mat-form-field appearance="outline">
                        <mat-label>Blood Pressure (Max)</mat-label>
                        <input matInput placeholder="Max Blood Pressure" name="bpMax" [(ngModel)]="observation.bpMax" required>
                    </mat-form-field>
                </div>
            </div> -->

    <!-- <div class="row g-0">
                <div class="col-md pad-r-md-1">
                    <mat-form-field appearance="outline">
                        <mat-label>Temperature(&deg;F)</mat-label>
                        <input matInput placeholder="Body Temperature in Fahrenheit" name="temprature"
                            [(ngModel)]="observation.temprature" required>
                    </mat-form-field>
                </div>
                <div class="col-md pad-l-md-1">
                    <mat-form-field appearance="outline">
                        <mat-label>Other</mat-label>
                        <input matInput placeholder="Other Details" name="other" [(ngModel)]="observation.other">
                    </mat-form-field>
                </div>
            </div> -->
    <!-- </mat-list> -->
    <!-- </form> -->
</section>