<section class="section-org-edit">

    <form #observationForm="ngForm">
        <mat-list class="row">

            <mat-list-item class="section-title">
                Observations
            </mat-list-item>

            <div class="row g-0">
                <div class="col-md pad-r-md-1">
                    <mat-form-field appearance="outline">
                        <mat-label>Weight(Kg)</mat-label>
                        <input matInput placeholder="Weight in Kg" name="weight" [(ngModel)]="observation.weight"
                            required>
                    </mat-form-field>
                </div>
                <div class="col-md pad-l-md-1">
                    <mat-form-field appearance="outline">
                        <mat-label>Height(cm)</mat-label>
                        <input matInput placeholder="Height in cm" name="height" [(ngModel)]="observation.height"
                            required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row g-0">
                <div class="col-md pad-r-md-1">
                    <mat-form-field appearance="outline">
                        <mat-label>Blood Pressure(Min)</mat-label>
                        <input matInput [(ngModel)]="observation.bpMin" name="bpMin" placeholder="Min Blood Pressure." required/>
                    </mat-form-field>
                </div>
                <div class="col-md pad-l-md-1">
                    <mat-form-field appearance="outline">
                        <mat-label>Blood Pressure (Max)</mat-label>
                        <input matInput placeholder="Max Blood Pressure" name="bpMax" [(ngModel)]="observation.bpMax" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row g-0">
                <div class="col-md pad-r-md-1">
                    <mat-form-field appearance="outline">
                        <mat-label>Temperature(&deg;F)</mat-label>
                        <input matInput placeholder="Body Temperature in Fahrenheit" name="temprature"
                            [(ngModel)]="observation.temprature" required>
                    </mat-form-field>
                </div>
                <div class="col-md pad-l-md-1">
                    <mat-form-field appearance="outline">
                        <mat-label>Other</mat-label>
                        <input matInput placeholder="Other Details" name="other" [(ngModel)]="observation.other">
                    </mat-form-field>
                </div>
            </div>
        </mat-list>
    </form>
</section>