<section class="section-org">
    <section class="section-org">
        <mat-button-toggle-group class="tab-style align-items-center" [(ngModel)]="tabValue" aria-label="Font Style">
            <mat-button-toggle class="tab-content" (change)="tabChange()" value="TESTSAMPLEDETAILS">Test Sample
                Details</mat-button-toggle>
            <mat-button-toggle class="tab-content" (change)="tabChange()" value="REPORTS">Reports</mat-button-toggle>
        </mat-button-toggle-group>
    </section>

    <section class="section-org-edit">
        <div *ngIf="showSectionTestSamplesDetails">
            <app-test-sample-details></app-test-sample-details>
        </div>
        <div *ngIf="showSectionReports">
            <app-reports></app-reports>
        </div>
    </section>
</section>