<section class="section-appointment-edit">
    <mat-button-toggle-group class="tab-style align-items-center" [(ngModel)]="tabValue" aria-label="Font Style">
        <mat-button-toggle class="tab-content" (change)="tabChange()" value="PATIENT">Patient Detail</mat-button-toggle>
        <mat-button-toggle class="tab-content" (change)="tabChange()" value="SERVICE">Services</mat-button-toggle>
        <mat-button-toggle class="tab-content" (change)="tabChange()" value="BILLING">Billing</mat-button-toggle>
        <mat-button-toggle class="tab-content" (change)="tabChange()"
            value="OBSERVATION">Observation</mat-button-toggle>
        <mat-button-toggle class="tab-content" (change)="tabChange()"
            value="PRESCRIPTION">Prescription</mat-button-toggle>
        <mat-button-toggle class="tab-content" (change)="tabChange()" value="TEST">Investigation</mat-button-toggle>
    </mat-button-toggle-group>

    <div *ngIf="showSectionPatient">
        <app-patient-detail-edit [userBookingInvestigationList]="userBookingInvestigationList"
            [(userBooking)]="userBooking" [departmentList]="departmentList"></app-patient-detail-edit>
    </div>

    <div *ngIf="showSectionObservation">
        <app-patient-observation-edit [userBookingInvestigationList]="userBookingInvestigationList"
            [(userBooking)]="userBooking" [doctorList]="docterList"></app-patient-observation-edit >
    </div>

    <div *ngIf="showSectionService">
        <app-patient-service-edit [userBookingInvestigationList]="userBookingInvestigationList"
            [serviceItemList]="serviceItemList" [(userBooking)]="userBooking" [doctorList]="docterList"></app-patient-service-edit>
    </div>

    <div *ngIf="showSectionTest">
        <app-patient-test-edit [(test)]="userBooking.booking.test" [doctorList]="docterList"></app-patient-test-edit>
    </div>

    <div *ngIf="showSectionPrescription">
        <app-patient-prescription-edit [userBookingInvestigationList]="userBookingInvestigationList"
            [(userBooking)]="userBooking" [productList]="productList" [doctorList]="docterList"></app-patient-prescription-edit>
    </div>

    <div *ngIf="showSectionBilling">
        <app-patient-billing-edit [(userBooking)]="userBooking" [doctorList]="docterList"></app-patient-billing-edit>
    </div>
</section>