<section class="section-org-edit">

    <form #orgForm="ngForm">
        <mat-list class="row">
            <app-label>Organisation Information</app-label>
            <div class="row">
                <div class="col-md">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-2">
                            <label for="exampleInputEmail1" class="app-label">Organisation Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="name" class="form-control app-input" name="name" [(ngModel)]="orgBr.name"
                                    required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Type -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Type</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <select [(ngModel)]="orgBr.type" name="type" class="app-single-select-dropdown w-100">
                                    <option *ngFor="let t of orgTypeList" [value]="t.id">
                                        {{t.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Domain -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Domain</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="domain" class="form-control app-input" name="domain"
                                    [(ngModel)]="orgBr.domain">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Email -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Email</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="email" class="form-control app-input" name="email"
                                    [(ngModel)]="orgBr.email" required>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Cell -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Cell</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input maxlength="10" minlength="10" type="cell" class="form-control app-input"
                                    name="cell" [(ngModel)]="orgBr.ph" required appNumberOnly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Tagline -->
                <div class="col-md-">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-2">
                            <label for="exampleInputEmail1" class="app-label">Organisation Tagline</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="tagline" class="form-control app-input" name="tagline"
                                    [(ngModel)]="orgBr.tagline">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <app-label>Address Details</app-label>

            <div class="row g-0">
                <app-eg-edit-address-form [(address)]="orgBr.address"
                    (pubSub)="addressFormChange($event)"></app-eg-edit-address-form>
            </div>

            <!-- NEWLY ADDED -->
            <app-label>Admin Details</app-label>

            <div class="row">
                <!-- Admin Name -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Name</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="text" name="admin-name" class="form-control app-input" [(ngModel)]="orgBr.adminName">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Admin contact -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Contact</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="text" class="form-control app-input" name="admin-contact" [(ngModel)]="orgBr.adminCell">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Admin Designation -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Designation</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="text" class="form-control app-input" name="admin-designation" [(ngModel)]="orgBr.adminDesignation">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <app-label>Upload Photos</app-label>

            <div class="row">
                <!-- Logo -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Logo</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group col-md-7">
                                <input type="file" (change)="onLogoSelected($event)" class="form-control app-input" name="logo" required>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Admin contact -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Cover Photo</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group col-md-7">
                                <input type="file" (change)="onCoverSelected($event)" class="form-control app-input" name="coverPhoto" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <app-label>OtherDetails</app-label>

            <div class="row">
                <!-- GST Number -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">GST Number</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="text" name="gst-number" class="form-control app-input" [(ngModel)]="orgBr.gst">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Registration Number -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Registration Number</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="text" class="form-control app-input" name="registration-number" [(ngModel)]="orgBr.reg">>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Panel Validity -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Panel Validity</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="date" class="form-control app-input" name="panel-validity" [(ngModel)]="orgBr.expiryPanel">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Purchase category -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Purchase Category</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <select name="purchase-category" class="app-single-select-dropdown w-100" [(ngModel)]="orgBr.category">
                                    <option *ngFor="let plan of orgPlanList" [value]="plan.id">
                                        {{plan.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </mat-list>
    </form>
</section>