<section class="section-org-edit">
    <div class="row mb-3">
        <div class=" d-flex justify-content-between">
            <h2> Add User Type</h2>
        </div>
    </div>

    <form>
        <div class="row">
            <!-- User Type -->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">User Type</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control app-input" name="userType"
                                [(ngModel)]="userType.name" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Department Name -->
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Department</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <select class="app-single-select-dropdown w-100" [(ngModel)]="userType.departmentId">
                                <option *ngFor="let item of departmentList" [value]="item._id">{{item.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>