<section class="section-org-edit">
    <form>
        <mat-list class="row">
            <h1 class='heading-style'>New Appointment</h1>
            <app-label>Patient Details</app-label>
            <div class="row">
                <!-- First Name -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label ">First Name</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input class="form-control app-input" name="nameF" [(ngModel)]="userBooking.user.nameF"
                                    required>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Last Name -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Last Name</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="text" class="form-control app-input" name="nameL"
                                    [(ngModel)]="userBooking.user.nameL" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Gender -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3 mt-3">
                        <div class="col-md-3">
                            <label class="label" class="app-label">Gender</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-check form-check-inline" *ngFor="let g of genderList">
                                <input class="form-check-input" type="radio" name="gender" [value]="g.id"
                                    [(ngModel)]="userBooking.user.gender">
                                <label class="form-check-label">{{ g.name }}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Contact No -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Contact No</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="text" class="form-control app-input" name="cell1"
                                    [(ngModel)]="userBooking.user.cell" required maxlength="10" minlength="10"
                                    appNumberOnly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Date of Birth -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Date of Birth</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="date" class="form-control app-input" name="dateOfBirth"
                                    [(ngModel)]="userBooking.user.doB" (ngModelChange)="calculateAge()" required>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Age -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Age</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="text" class="form-control app-input" name="age"
                                    [(ngModel)]="userBooking.user.age" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Appointment Date -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Appointment Date</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="date" class="form-control app-input" name="appointmentDate" required>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Department -->
                <div class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="exampleInputEmail1" class="app-label">Department</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <select class="app-single-select-dropdown w-100" name="department"
                                    [(ngModel)]="userBooking.booking.departmentId"
                                    (ngModelChange)="filterDoctorByDepartmentId(userBooking.booking.departmentId)">
                                    <option *ngFor="let item of departmentList" [value]="item._id">{{item.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Doctor's Name -->
                    <div class="col-md-6">
                        <div class="d-flex align-items-center mb-3">
                            <div class="col-md-3">
                                <label for="exampleInputEmail1" class="app-label">Doctor</label>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <select class="app-single-select-dropdown w-100" name="doctorName"
                                        [(ngModel)]="userBooking.booking.dr"
                                        (ngModelChange)="checkDoctor(userBooking.booking.dr, userBooking.booking.dr)">
                                        <option *ngFor="let doctor of docterList" [value]="doctor._id">{{doctor.nameF}}
                                            {{doctor.nameL}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-6">
                        <div class="d-flex align-items-center mb-3">
                            <div class="col-md-3">
                                <label for="exampleInputEmail1" class="app-label">Shift</label>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group" *ngFor="let shift of time;let shiftIndex=index;">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" (click)="selectShift(shiftIndex)" type="radio">
                                        <label class="form-check-label">Shift-{{shiftIndex+1}}</label>
                                    </div>
                                    <div class="time-slot-selector mb-2">
                                        <div class="row">
                                            <div *ngFor="let slot of generateTimeSlots(time[shiftIndex].from, time[shiftIndex].to); let slotIndex = index"
                                                class="col-4">
                                                <span *ngIf="selectedShift === shiftIndex" class="time-slots-style"
                                                    [ngClass]="{'selected-time-slot': selectedTimeSlots[shiftIndex] === slotIndex}"
                                                    (click)="selectTimeSlot(shiftIndex, slotIndex)">{{ slot }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    
                    
                    
                    
                    <!-- <div class="col-md-6">
                        <div class="d-flex align-items-center mb-3">
                            <div class="col-md-3">
                                <label for="exampleInputEmail1" class="app-label">Shift</label>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-4" *ngFor="let shift of time; let i = index;">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" (click)="selectShift(i)" type="radio">
                                            <label class="form-check-label">Shift-{{i+1}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div *ngIf="selectedShift !== null">
                                            <div class="time-slot-selector mb-2">
                                                <div class="row">
                                                    <div *ngFor="let slot of generateTimeSlots(time[selectedShift].from, time[selectedShift].to); let slotIndex = index"
                                                        class="col-4">
                                                        <span class="time-slots-style"
                                                            [ngClass]="{'selected-time-slot': selectedTimeSlots[selectedShift] === slotIndex}"
                                                            (click)="selectTimeSlot(selectedShift, slotIndex)">{{ slot }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->


                    <div class="col-md-6">
                        <div class="d-flex align-items-center mb-3">
                            <div class="col-md-3">
                                <label for="exampleInputEmail1" class="app-label">Shift</label>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-4" *ngFor="let shift of time; let shiftIndex = index;">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" (click)="toggleShift(shiftIndex)" type="radio" [checked]="selectedShift === shiftIndex">
                                            <label class="form-check-label">Shift-{{shiftIndex+1}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-10">
                                        <div *ngIf="selectedShift !== null">
                                            <div class="time-slot-selector mb-2">
                                                <div class="row">
                                                    <div *ngFor="let slot of generateTimeSlots(time[selectedShift].from, time[selectedShift].to); let slotIndex = index"
                                                        class="col-4 mb-3">
                                                        <span class="time-slots-style"
                                                            [ngClass]="{'selected-time-slot': selectedTimeSlots[selectedShift] === slotIndex}"
                                                            (click)="selectTimeSlot(selectedShift, slotIndex)">{{ slot }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                    
                    
                </div>
        </mat-list>
    </form>
</section>