<section class="section-appointment-edit">
    <mat-button-toggle-group class="tab-style align-items-center" [(ngModel)]="tabValue" aria-label="Font Style">
        <mat-button-toggle class="tab-content" (change)="tabChange()" value="PATIENT">Patient Detail</mat-button-toggle>
        <mat-button-toggle class="tab-content" (change)="tabChange()" value="OBSERVATION">Observation</mat-button-toggle>
        <mat-button-toggle class="tab-content" (change)="tabChange()" value="SERVICE">Services</mat-button-toggle>
        <mat-button-toggle class="tab-content" (change)="tabChange()" value="TEST">Investigation</mat-button-toggle>
        <mat-button-toggle class="tab-content" (change)="tabChange()" value="PRESCRIPTION">Prescription</mat-button-toggle>
        <mat-button-toggle class="tab-content" (change)="tabChange()" value="BILLING">Billing</mat-button-toggle>
    </mat-button-toggle-group>

    <div *ngIf="showSectionPatient">
        <app-patient-edit [docterList]="docterList" [(userBooking)]="userBooking"></app-patient-edit>
    </div>

    <div *ngIf="showSectionObservation">
        <app-observation-edit [(userBooking)]="userBooking"></app-observation-edit>
    </div>

    <div *ngIf="showSectionService">
        <app-appointment-service-edit [serviceItemList]="serviceItemList" [(userBooking)]="userBooking"></app-appointment-service-edit>
    </div>

    <div *ngIf="showSectionTest">
        <app-appointment-test-edit [(test)]="userBooking.booking.test"></app-appointment-test-edit>
    </div>

    <div *ngIf="showSectionPrescription">
       <app-prescription-edit  [(userBooking)]="userBooking"></app-prescription-edit>
    </div>

    <div *ngIf="showSectionBilling">
        <app-billing-edit></app-billing-edit>
    </div>
</section>