<section class="section-appointment-edit">
    <mat-button-toggle-group [(ngModel)]="tabValue" aria-label="Font Style">
        <mat-button-toggle (change)="tabChange()" value="PATIENT">Patient Detail</mat-button-toggle>
        <mat-button-toggle (change)="tabChange()" value="OBSERVATION">Observation</mat-button-toggle>
        <mat-button-toggle (change)="tabChange()" value="SERVICE">Services</mat-button-toggle>
        <mat-button-toggle (change)="tabChange()" value="TEST">Test</mat-button-toggle>
        <mat-button-toggle (change)="tabChange()" value="PRESCRIPTION">Prescription</mat-button-toggle>
        <mat-button-toggle (change)="tabChange()" value="BILLING">Billing</mat-button-toggle>
    </mat-button-toggle-group>

    <div *ngIf="showSectionPatient">
        <app-patient-edit [(patient)]="userBooking.user"></app-patient-edit>
    </div>

    <div *ngIf="showSectionObservation">
        <app-observation-edit [(observation)]="userBooking.booking.observation"></app-observation-edit>
    </div>

    <div *ngIf="showSectionService">
        <app-appointment-service-edit [serviceItemList]="serviceItemList" [(booking)]="userBooking.booking"></app-appointment-service-edit>
    </div>

    <div *ngIf="showSectionTest">
        <app-appointment-test-edit [(test)]="userBooking.booking.test"></app-appointment-test-edit>
    </div>

    <div *ngIf="showSectionPrescription">
        showSectionPrescription
    </div>

    <div *ngIf="showSectionBilling">
        showSectionBilling
    </div>
</section>