<section class="section-sidemenu">
  <!--
    <div class="user-thumbnail" fxLayoutAlign="space-around center">
      <img [style.borderRadius]="'50%'" src="./assets/user-image.jpg">
    </div>
  -->

  <mat-nav-list>
    <ng-container *ngFor="let menu of menus">
      <a disableRipple="true" mat-list-item [routerLink]="menu?.link" [routerLinkActive]="'is-active'">
        <mat-icon mat-list-icon svgIcon="{{menu?.icon}}"></mat-icon> {{menu?.label}}
      </a>
      <mat-divider></mat-divider>
    </ng-container>

    <a mat-icon-button (click)="toggleMasterTab()">
      <div class="my-3">
        <mat-icon mat-list-icon svgIcon="ic_user" class="ms-3"></mat-icon><span class="style-side-menu-item">Master</span>
        <mat-icon>{{ isMasterTabOpen ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
      </div>
      <mat-divider></mat-divider>
    </a>

    <ng-container *ngIf="isMasterTabOpen">
      <ng-container *ngFor="let subOption of masterSubOptions, let i=index">
        <a disableRipple="true" mat-list-item [routerLink]="masterSubOptions[i].link" [routerLinkActive]="'is-active'"
          href="#" mat-button class="ps-5">{{ subOption.label }}</a>
        <mat-divider></mat-divider>
      </ng-container>
    </ng-container>

    <a mat-icon-button (click)="togglePharmacyTab()">
      <div class="my-3">
        <mat-icon mat-list-icon svgIcon="ic_user" class="ms-3"></mat-icon><span class="style-side-menu-item">Pharmacy</span>
        <mat-icon>{{ isPharmacyTabOpen ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
      </div>
      <mat-divider></mat-divider>
    </a>

    <ng-container *ngIf="isPharmacyTabOpen">
      <ng-container *ngFor="let subOption of pharmacySubOptions, let i=index">
        <a disableRipple="true" mat-list-item [routerLink]="pharmacySubOptions[i].link" [routerLinkActive]="'is-active'"
          href="#" mat-button class="ps-5">{{ subOption.label }}</a>
        <mat-divider></mat-divider>
      </ng-container>
    </ng-container>

    <a mat-icon-button (click)="toggleAdminReportsTab()">
      <div class="my-3">
        <mat-icon mat-list-icon svgIcon="ic_user" class="ms-3"></mat-icon><span class="style-side-menu-item">Admin Reports</span>
        <mat-icon>{{ isMasterTabOpen ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
      </div>
      <mat-divider></mat-divider>
    </a>

    <ng-container *ngIf="isAdminReportsTabOpen">
      <ng-container *ngFor="let subOption of adminReportsSubOptions, let i=index">
        <a disableRipple="true" mat-list-item [routerLink]="adminReportsSubOptions[i].link" [routerLinkActive]="'is-active'"
          href="#" mat-button class="ps-5">{{ subOption.label }}</a>
        <mat-divider></mat-divider>
      </ng-container>
    </ng-container>
    <!-- <ng-container *ngFor="let menu of menus">
      <a disableRipple="true" mat-list-item [routerLink]="menu?.link" [routerLinkActive]="'is-active'">
        <mat-icon mat-list-icon svgIcon="{{menu?.icon}}"></mat-icon> {{menu?.label}}
      </a>
      <mat-divider></mat-divider>
    </ng-container> -->
  </mat-nav-list>

  <!-- <mat-nav-list class="nav-list primary" *ngFor="let menu of menus" [routerLinkActive]="'is-active'"
    [routerLinkActiveOptions]="{exact:true}"> -->
  <!-- <mat-list-item class="nav-main" [routerLink]="menu?.link"> -->
  <!-- <mat-list-item class="nav-sub" *ngFor="let subMenu of menu?.nav" [routerLink]="subMenu?.link"
        [routerLinkActive]="'is-active'">
        <mat-icon mat-list-icon svgIcon="{{menu?.icon}}"></mat-icon>

        <mat-icon mat-list-icon svgIcon="{{subMenu?.icon}}"></mat-icon>
        {{menu.label}}
      </mat-list-item>
  </mat-nav-list> -->
  <!-- <span class="menu-title">{{menu.label}}</span> -->

  <!--<mat-chip-list *ngIf="menu?.chip?.value">
        <mat-chip selected="true" [color]='menu?.chip?.color'>{{menu?.chip?.value}}</mat-chip>
      </mat-chip-list>-->
  <!-- <mat-icon *ngIf="menu?.nav?.length > 1" mat-icon-button [ngClass]="{'open':menu?.open,'close':!menu?.open}">
        keyboard_arrow_down
      </mat-icon>
      <mat-icon *ngIf="menu?.nav?.length > 1" mat-icon-button [ngClass]="{'open':!menu?.open,'close':menu?.open}">
        keyboard_arrow_right
      </mat-icon> -->
  <!-- </mat-list-item> -->

  <!-- <mat-nav-list class="secondarymenu" [ngClass]="{'open':menu?.open,'close':!menu?.open}">
      <mat-list-item class="nav-sub" *ngFor="let subMenu of menu?.nav" [routerLink]="subMenu?.link" [routerLinkActive]="'is-active'">
        <mat-icon mat-list-icon svgIcon="{{subMenu?.icon}}"></mat-icon>
        {{subMenu.label}}
      </mat-list-item>
    </mat-nav-list>
  </mat-nav-list> -->

</section>

<!--
Read - https://theinfogrid.com/tech/developers/angular/responsive-navbar-angular-flex-layout/
<div style="height: 100vh;">
  <mat-toolbar color="primary">
    <span>Responsive Navigation</span>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">

      -- The following menu items will be hidden on both SM and XS screen sizes --

      <a href="#" mat-button>Menu Item 1</a>
      <a href="#" mat-button>Menu Item 2</a>
      <a href="#" mat-button>Menu Item 3</a>
      <a href="#" mat-button>Menu Item 4</a>
      <a href="#" mat-button>Menu Item 5</a>
      <a href="#" mat-button>Menu Item 6</a>

    </div>

    <div fxShow="true" fxHide.gt-sm="true">
      <a href="#" (click)="sidenav.toggle()">Show Side Menu</a>
    </div>

  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
        <a href="#" mat-button>Menu Item 1</a>
        <a href="#" mat-button>Menu Item 2</a>
        <a href="#" mat-button>Menu Item 3</a>
        <a href="#" mat-button>Menu Item 4</a>
        <a href="#" mat-button>Menu Item 5</a>
        <a href="#" mat-button>Menu Item 6</a>
      </div>
    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>Main content</mat-sidenav-content>
  </mat-sidenav-container>

</div>
-->