<section class="section-org">
    <section class="row" *ngIf="showSectionAppointmentList">
        <div class="row">
            <div class="d-flex justify-content-between">
                <h2>Patient List</h2>
                <button class="common-button" (click)="addAppointment()">
                    Add Patients
                </button>
            </div>
        </div>

        <!--****************newly added to show table **********************-->
        <mat-card class="table-card-style">
            <div class="row">
                <div class="search-input-style">
                    <label class="app-label me-2">{{'Search'}}</label>
                    <input class="input-style" (keyup)="applyFilter($event)" placeholder="{{'search'}}" #input>
                </div>
            </div>

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="bookingList" matSort>
                    <!-- App No -->
                    <ng-container matColumnDef="AppNo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> App.No. </th>
                        <td mat-cell *matCellDef="let row"> {{row.booking.no}} </td>
                    </ng-container>

                    <!-- Date -->
                    <ng-container matColumnDef="Date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                        <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.booking.bookingDate | date}}
                        </td>
                    </ng-container>

                    <!-- Patient -->
                    <ng-container matColumnDef="PatientName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Name </th>
                        <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.patient.nameF ?? ''}}
                            {{row.patient.nameL ?? ''}}</td>
                    </ng-container>

                    <!-- Type -->
                    <ng-container matColumnDef="Type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type </th>
                        <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{getBookingType(row.booking.type)}}
                        </td>
                    </ng-container>

                    <!-- Doctor Name -->
                    <ng-container matColumnDef="DoctorsName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Doctors Name </th>
                        <td mat-cell *matCellDef="let row" class="text-ellipsis"><span
                                *ngIf="row.drList && row.drList.length > 0">{{row.drList[0].nameF}}</span></td>
                    </ng-container>

                    <!-- Time -->
                    <ng-container matColumnDef="Time">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Time </th>
                        <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.booking.slot}} </td>
                    </ng-container>

                    <!-- Action -->
                    <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                        <td mat-cell *matCellDef="let row" class="action-style text-ellipsis"> <span
                                class="clickable"  (click)="editDetails(row)">View Details</span> | <span class="clickable">Delete</span> | <span
                                class="clickable" (click)="addNewBookingUser(row)">New Visit</span></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>

                <mat-paginator [length]="resultsLength" pageSize="5" [hidePageSize]="true"
                    [showFirstLastButtons]="false" aria-label="Select page of users"></mat-paginator>
            </div>
        </mat-card>
    </section>

    <section *ngIf="showSectionAppointmentEdit">

        <div>
            <app-appointment-edit [userBookingInvestigationList]="userBookingInvestigationList"
                [docterList]="doctorList" [serviceItemList]="serviceItemList" [productList]="productList"
                [(userBooking)]="userBooking"></app-appointment-edit>
        </div>

        <div class="d-flex align-items-center justify-content-center mb-4">
            <div class="col-1">
                <button (click)="saveBooking()" class="common-button">{{'save'}}</button>
            </div>
            <div class="col-1">
                <button (click)="cancel()" class="cancel-button">{{'cancel'}}</button>
            </div>
        </div>
    </section>
</section>