.heading-style{
   margin-bottom: -30px;
}

.filter-style{
   border-radius: 12px;
   width:120px;
   margin-bottom: 20px;
   margin-top:20px;
   margin-right: 10px;
 }
 .btn-style{
   text-align: center;
   width: fit-content;
   margin-bottom:20px;
 }

 .placeholder-style{
  -webkit-text-fill-color: black;
  border: none;
  font-weight: 700;
  width:90%;
}
