<section class="section-org-edit">
    <!-- <app-observation-photo-upload></app-observation-photo-upload> -->
    <div class="container">
        <div class="row mt-4">
            <app-label>Observations</app-label>
            <div class="col-md-2">
                <button (click)="addNewObservation()" [disabled]="showSectionAdd" class="common-button">Add New</button>
            </div>
            <mat-accordion *ngFor="let booking of userBookingInvestigationList?.bookingList">
                <mat-expansion-panel class="my-3" *ngIf="booking._id != userBooking.booking?._id">
                    <mat-expansion-panel-header class="app-expansion">
                        <div class="app-expansion-title col-md-12">
                            <span>UHID: <span>{{booking.patientNo}}</span></span>
                            <span>Visiting ID: <span>{{booking.no}}</span></span>
                            <span>First Name: <span
                                    *ngIf="userBookingInvestigationList?.user">{{userBookingInvestigationList.user.nameF
                                    ?? ''}} {{userBookingInvestigationList.user.nameL ?? ''}}</span></span>
                            <span>Doctor's Name: <span>{{getDoctorById(userBooking.booking.dr)}}</span></span>
                            <span>Date: <span>{{booking.bookingDate | date}}</span></span>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="border border-info rounded p-3 mt-4">
                        <div *ngFor="let obs of booking.observation?.healthParams">
                            <span>{{obs.name}}: </span>
                            <span>{{obs.value}}</span>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion *ngIf="showSectionAdd">
                <mat-expansion-panel class="my-3">
                    <mat-expansion-panel-header class="app-expansion">
                        <div class="app-expansion-title col-md-12">
                            <div class="app-expansion-title col-md-12">
                                <span>UHID: <span>{{userBooking.booking.no}}</span></span>
                                <span>Visiting ID: <span>{{userBooking.booking.patientNo}}</span></span>
                                <span>Name: <span *ngIf="userBookingInvestigationList?.user">{{userBooking.user.nameF ??
                                        ''}}
                                        {{userBooking.user.nameL ?? ''}}</span></span> <span>Doctor's Name:
                                    <span>{{getDoctorById(userBooking.booking.dr)}}</span></span>
                                <span>Date: <span>{{userBooking.booking.bookingDate | date}}</span></span>

                            </div>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="border border-info rounded p-3 mt-4 min-height-300">
                        <form #observationForm="ngForm">
                            <div class="row">
                                <!-- Doctor's Name -->
                                <div class="col-md-6">
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="col-md-5">
                                            <label for="exampleInputEmail1" class="app-label">Select Health
                                                Parameter</label>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <ng-multiselect-dropdown [name]="'doctorName'"
                                                    [placeholder]="'Select Parameter'" [settings]="dropdownSettings"
                                                    (onDeSelect)="onParamSelect($event)"
                                                    (onSelect)="onParamSelect($event)" [data]="paramSelectList"
                                                    [(ngModel)]="selectedParams">
                                                </ng-multiselect-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"
                                    *ngFor="let in of userBooking.booking.observation.healthParams; let i = index;">
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="col-md-4">
                                            <label for="exampleInputEmail1" class="app-label">{{in.name}}</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <input type="text" class="form-control app-input"
                                                    [name]="userBooking.booking.observation.healthParams[i].key"
                                                    [(ngModel)]="userBooking.booking.observation.healthParams[i].value"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div *ngFor="let image of images">
        <img [src]="image" alt="Image from DigitalOcean Space" />
    </div>
</section>