<!-- Add Service section -->
<section class="section-org-edit">
  <div class="row mb-3">
    <div class=" d-flex justify-content-between">
      <h2>Add Service</h2>
    </div>
  </div>

  <form>
    <div class="row">
      <!-- Service Code-->
      <div class="col-md-6">
        <div class="d-flex align-items-center mb-3">
          <div class="col-md-3">
            <label class="app-label">Service Code</label>
          </div>
          <div class="col-md-7">
            <div class="form-group">
              <input type="text" class="form-control app-input" name="serviceCode" [(ngModel)]="serviceItem.code"
                required>
            </div>
          </div>
        </div>
      </div>

      <!-- Service Name -->
      <div class="col-md-6">
        <div class="d-flex align-items-center mb-3">
          <div class="col-md-3">
            <label class="app-label">Service Name</label>
          </div>
          <div class="col-md-7">
            <div class="form-group">
              <input type="text" class="form-control app-input" name="serviceName" [(ngModel)]="serviceItem.name"
                required>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Service Type -->
      <div class="col-md-6">
        <div class="d-flex align-items-center mb-3">
          <div class="col-md-3">
            <label class="app-label">Service Type</label>
          </div>
          <div class="col-md-7">
            <div class="form-group">
              <select name="serviceType" class="app-single-select-dropdown w-100"
                [(ngModel)]="serviceItem.serviceTypeId" required>
                <option *ngFor="let type of serviceTypeList" [value]="type._id">{{type.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <!-- Department -->
      <div class="col-md-6">
        <div class="d-flex align-items-center mb-3">
          <div class="col-md-3">
            <label class="app-label">Department</label>
          </div>
          <div class="col-md-7">
            <div class="form-group">
              <select class="app-single-select-dropdown w-100" [(ngModel)]="serviceItem.departmentId"
                name="departmentId">
                <option *ngFor="let department of departmentList" [value]="department._id">{{department.name}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Associated Doctor-->
      <div class="col-md-6">
        <div class="d-flex align-items-center mb-3">
          <div class="col-md-3">
            <label class="app-label"> Associated Doctor</label>
          </div>
          <div class="col-md-7">
            <div class="form-group">
              <select class="app-single-select-dropdown w-100" name="doctor"
                [(ngModel)]="serviceItem.associatedDoctorId">
                <option *ngFor="let doctor of doctorList" [value]="doctor._id">
                  {{doctor.nameF}} {{doctor.nameL}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <!-- Fee-->
      <div class="col-md-6">
        <div class="d-flex align-items-center mb-3">
          <div class="col-md-3">
            <label class="app-label">Fee</label>
          </div>
          <div class="col-md-7">
            <div class="form-group">
              <input type="" class="form-control app-input" name="fee" [(ngModel)]="serviceItem.fee" required
                appNumberOnly>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <!-- Fee Type-->
      <div class="col-md-6">
        <div class="d-flex align-items-center mb-3">
          <div class="col-md-3">
            <label class="app-label">Is Percentage</label>
          </div>
          <div class="col-md-7">
            <div class="form-group">
              <div class="form-check form-check-inline" *ngFor="let g of yesNoList">
                <input class="form-check-input" type="radio" name="yesNo" [value]="g.name"
                  [(ngModel)]="serviceItem.feeType.isPercent">
                <label class="form-check-label">{{ g.id }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="d-flex align-items-center mb-3">
          <div class="col-md-3">
            <label class="app-label">Value</label>
          </div>
          <div class="col-md-7">
            <div class="form-group">
              <div>
                <input type="" class="form-control app-input" name="value" [(ngModel)]="serviceItem.feeType.value"
                  appNumberOnly>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fee Distribution    (commited as can be used further) -->
    <!-- <div class="col-md-6">
      <div class="d-flex align-items-center mb-3">
        <div class="col-md-3">
          <label class="app-label">Fee Distribution</label>
        </div>
        <div class="col-md-7">
          <div class="form-group">
            <select name="feeDistribution" class="app-single-select-dropdown w-100"
              [(ngModel)]="addService.feeDistribution" required>
              <option value="">Select</option>
              <option value="Fixed">Fixed</option>
              <option value="Percentage">Percentage</option>
            </select>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row">
      <!-- Doctor Fee-->
      <div class="col-md-6">
        <div class="d-flex align-items-center mb-3">
          <div class="col-md-3">
            <label class="app-label">Doctors Fee</label>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <input type="" class="form-control app-input" name="doctorFee" required
                [(ngModel)]="serviceItem.doctorFee" appNumberOnly>
            </div>
          </div>
        </div>
      </div>

      <!-- Doctor Fee-->
      <div class="col-md-6">
        <div class="d-flex align-items-center mb-3">
          <div class="col-md-3">
            <label class="app-label">Doctors Fee</label>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <input type="" class="form-control app-input" name="doctorFee" required appAmountOnly>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!--Org fee -->
      <div class="col-md-6">
        <div class="d-flex align-items-center mb-3">
          <div class="col-md-3">
            <label class="app-label">Org Fee</label>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <input type="" class="form-control app-input" name="orgFee" required [(ngModel)]="serviceItem.orgFee"
                appNumberOnly>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="d-flex align-items-center mb-3">
          <div class="col-md-3">
            <label class="app-label">Org Fee</label>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <input type="" class="form-control app-input" name="orgFee" required appAmountOnly>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>

</section>