<section class="section-org row">
    <div class="row">
        <div class="px-5 d-flex justify-content-between">
            <h2>Patient List</h2>
        </div>
    </div>
    <!-- <div class="row">
            <div class="search-input-style">
                <label class="app-label me-2">{{'Search'}}</label>
                <input class="input-style" (keyup)="applyFilter($event)" placeholder="" #input>
            </div>
        </div> -->

    <mat-card class="table-card-style">
        <!-- <div class="row">
                        <div class="search-input-style">
                            <label class="app-label me-2">{{'Search'}}</label>
                            <input class="input-style" (keyup)="applyFilter($event)" placeholder="{{'search'}}" #input>
                        </div>
                    </div> -->

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <!-- App No -->
                <ng-container matColumnDef="appNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <input class="placeholder-style" placeholder="App" name="appNoFilter"
                            (keyup)="applyFilter('appNo', $event)" #appNoInput>
                    </th>
                    <td mat-cell *matCellDef="let row"> {{row.booking.no}} </td>
                </ng-container>

                <!-- Date -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <input class="placeholder-style" placeholder="Date" name="dateFilter"
                            (keyup)="applyFilter('date', $event)" #dateInput>
                    </th>
                    <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.booking.bookingDate | date}}
                    </td>
                </ng-container>

                <!-- Patient -->
                <ng-container matColumnDef="patientName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <input class="placeholder-style" placeholder="Patient Name" name="patientNameFilter"
                            (keyup)="applyFilter('patientName', $event)" #patientNameInput>
                    </th>
                    <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.patient.nameF ?? ''}}
                        {{row.patient.nameL ?? ''}}</td>
                </ng-container>

                <!-- Type -->
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <input class="placeholder-style" placeholder="Type" name="typeFilter"
                            (keyup)="applyFilter('type', $event)" #typeInput>
                    </th>
                    <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{getBookingType(row.booking.type)}}
                    </td>
                </ng-container>

                <!-- Doctor Name -->
                <ng-container matColumnDef="doctorsName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <input class="placeholder-style" placeholder="Doctor Name" name="doctorsNameFilter"
                            (keyup)="applyFilter('doctorsName', $event)" #doctorsNameInput>
                    </th>
                    <td mat-cell *matCellDef="let row" class="text-ellipsis"><span
                            *ngIf="row.drDetail">{{row.drDetail.nameF
                            ?? ''}} {{row.drDetail.nameL ?? ''}}</span>
                    </td>
                </ng-container>

                <!-- Time -->
                <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <input class="placeholder-style" placeholder="Time" name="timeFilter"
                            (keyup)="applyFilter('time', $event)" #timeInput>
                    </th>
                    <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.booking.timeSlot}} </td>
                </ng-container>

                <!-- Action -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                    <td mat-cell *matCellDef="let row" class="action-style text-ellipsis"> <span class="clickable"
                            (click)="openPrescriptionDialog('0ms', '0ms',row)">View prescription</span> | <span
                            (click)="moveToPharmacy(row)" class="clickable">Move to pharmacy</span>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <!-- <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                            </tr> -->
            </table>

            <mat-paginator [length]="resultsLength" pageSize="5" [hidePageSize]="true" [showFirstLastButtons]="false"
                aria-label="Select page of users"></mat-paginator>
        </div>
    </mat-card>

</section>