.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .input-style {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button-style {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .primary-button {
    background-color: #007bff;
    color: white;
  }
  
  .secondary-button {
    background-color: #6c757d;
    color: white;
  }
  
  .camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.video-style {
width: 100%;
max-width: 640px;
height: auto;
border: 1px solid #ccc;
border-radius: 4px;
}

.capture-button {
background-color: #28a745;
color: white;
margin-top: 10px;
}

.style-images{
    display: flex;
    flex-direction: row;

}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }
  
//   .image-container {
//     flex: 1 1 calc(33.33% - 20px); /* Adjust percentage to change the number of images per row */
//     box-sizing: border-box;
//     margin: 10px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }

.image-container {
    position: relative;
    flex: 1 1 calc(33.33% - 20px); /* Adjust percentage to change the number of images per row */
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
//   .styled-image {
//     max-width: 100%;
//     height: auto;
//     border: 1px solid #ccc;
//     border-radius: 5px;
//   }
  
// .add-btn-style{
// background-color: #28a745;
// color: white;
// margin-top: 10px;
// border: 1px dotted blue;
// }

.styled-image {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007BFF;
    color: white;
    border: none;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
/* Media Queries for Mobile View */
@media (max-width: 600px) {
.input-style,
.button-style,
.video-style {
width: 100%;
}

.container {
padding: 5px;
}
}