
<!-- <div class="container">
    <input type="text" class="input-style" [(ngModel)]="visitId" placeholder="Enter Visit ID">

    <button class="button-style primary-button" (click)="onCamera()">Go</button> -->

    <!-- <button class="button-style secondary-button" (click)="toggleCamera()">Flip Camera</button> -->

    <!-- <div *ngIf="showCamera" class="camera-container">
        <video #videoElement class="video-style" autoplay></video>
        <button type="button" (click)="capturePhoto()" class="common-button capture-button">Capture Photo</button>
    </div>
    <input type="file" class="input-style" (click)="onPhotoSelected($event)">
</div>


<div class="image-gallery">
    <div *ngFor="let image of images; let last = last" class="image-container">
        <img [src]="image" alt="Image from DigitalOcean Space" class="styled-image" />
        <button *ngIf="last" class="add-button">+</button>
    </div>
</div> -->





<!-- <div class="container">
    <input type="text" class="input-style" [(ngModel)]="visitId" placeholder="Enter Visit ID">
    <button class="button-style primary-button" (click)="onFileInputClick()">Choose File</button>
    <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" accept="image/*">
</div> -->

<div class="container">
    <input type="text" class="input-style" [(ngModel)]="visitId" placeholder="Enter Visit ID">
    <button class="button-style primary-button" (click)="onFileInputClick()">Choose File</button>
    <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" accept="image/*" capture="environment">
</div>