<section>
    <app-label>Billing</app-label>

    <mat-accordion>
        <mat-expansion-panel class="my-3">
            <mat-expansion-panel-header class="app-expansion">
                <div class="app-expansion-title col-md-12">
                    <span>Patient Id: <span>0812</span></span>
                    <span>Bill No: <span></span></span>
                    <span>First Name: <span>Mayank</span></span>
                    <span>Doctor's Name: <span>M.Patidar</span></span>
                    <span>Date: <span>02/08/23</span></span>
                </div>
            </mat-expansion-panel-header>

            <mat-card class="table-card-style">
                <div class="row">
                    <h4>Rx</h4>
                </div>

                <div class="mat-elevation-z8 ">
                    <table mat-table [dataSource]="dataSource" matSort>
                        <!--Sno -->
                        <ng-container matColumnDef="sno">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sno </th>
                            <td mat-cell *matCellDef="let row" class="text-ellipsis col-1"> {{row.sno}} </td>
                        </ng-container>

                        <!-- medicine -->
                        <ng-container matColumnDef="medicine">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Medicine</th>
                            <td mat-cell *matCellDef="let row" class="text-ellipsis col-3">
                                <ng-container *ngIf="!row.showInputFields; else inputMedicine">
                                    {{ row.medicine }}
                                </ng-container>
                                <ng-template #inputMedicine>
                                    <input matInput [(ngModel)]="row.medicine" placeholder="Medicine" class="w-100"
                                        name="medicine">
                                </ng-template>
                            </td>
                        </ng-container>

                        <!--dosage -->
                        <ng-container matColumnDef="dosage">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dosage </th>
                            <td mat-cell *matCellDef="let row" class="text-ellipsis col-1">
                                <ng-container *ngIf="!row.showInputFields; else inputDosage">
                                    {{ row.dosage }}
                                </ng-container>
                                <ng-template #inputDosage>
                                    <input matInput [(ngModel)]="row.dosage" placeholder="Dosage" name="dosage"
                                        class="w-100">
                                </ng-template>
                            </td>
                        </ng-container>

                        <!-- Duration -->
                        <ng-container matColumnDef="duration">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration </th>
                            <td mat-cell *matCellDef="let row" class="text-ellipsis col-1">
                                <ng-container *ngIf="!row.showInputFields; else inputDuration">
                                    {{row.duration}}
                                </ng-container>
                                <ng-template #inputDuration>
                                    <input matInput [(ngModel)]="row.duration" type="number" name="duration"
                                        placeholder="Duration" class="w-100">
                                </ng-template>
                            </td>
                        </ng-container>

                        <!-- quantity -->
                        <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Qty </th>
                            <td mat-cell *matCellDef="let row" class="action-style text-ellipsis col-1">
                                <ng-container *ngIf="!row.showInputFields; else inputQuantity">
                                    <!-- {{ row.quantity }} -->
                                    <!-- newly added (in place of hard coded quantity, now input is there) -->
                                    <input [defaultValue]="row.quantity" [(ngModel)]="row.quantity" name="quantity">
                                </ng-container>
                                <ng-template #inputQuantity>
                                    <input matInput [(ngModel)]="row.quantity" type="" name="qty" placeholder="Qty"
                                        (ngModelChange)="updateAmount(row)" class="w-100" appNumberOnly>
                                </ng-template>
                            </td>
                        </ng-container>

                        <!-- Rate -->
                        <ng-container matColumnDef="rate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rate </th>
                            <td mat-cell *matCellDef="let row" class="action-style text-ellipsis col-1">
                                <ng-container *ngIf="!row.showInputFields; else inputRate">
                                    {{ row.rate }}
                                </ng-container>
                                <ng-template #inputRate>
                                    <input matInput [(ngModel)]="row.rate" type="" name="rate" placeholder="Rate"
                                        (ngModelChange)="updateAmount(row)" class="w-100" appNumberOnly>
                                </ng-template>
                            </td>
                        </ng-container>

                        <!-- newly added -->
                        <!--discount  -->
                        <ng-container matColumnDef="discount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount </th>
                            <td mat-cell *matCellDef="let row" class="action-style text-ellipsis col-1">
                                <input [defaultValue]="0" matInput [(ngModel)]="row.discount" name="discount">
                            </td>
                        </ng-container>

                        <!-- amount -->
                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                            <td mat-cell *matCellDef="let row" class="action-style text-ellipsis col-1">
                                <ng-container *ngIf="!row.showInputFields; else inputAmount" [(ngModel)]="row.amount">
                                    <!-- {{ row.amount }} -->
                                    <!-- newly added -->
                                    {{ (row.quantity*row.rate)-row.discount}}
                                </ng-container>
                                <ng-template #inputAmount>
                                    <input matInput [(ngModel)]="row.amount" type="" name="amount" placeholder="Amount"
                                        class="w-100" appNumberOnly disabled>
                                </ng-template>
                            </td>
                        </ng-container>

                        <!----action---->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                            <td mat-cell *matCellDef="let row" class="action-style text-ellipsis col-1">
                                <mat-icon class="add-icon clickable" (click)="deleteRow(row)">delete</mat-icon>
                                <ng-container *ngIf="isLastRow(row)">
                                    <mat-icon class="add-icon clickable" (click)="addNewRow()">add_circle</mat-icon>
                                </ng-container>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <!------------total Amount----------->
                <div class="d-flex justify-content-end">
                    <div class="pad-r-1 total-amount d-flex justify-content-between">
                        <span>Total Amount : </span> <span class="mx-2">{{ getTotalAmount() }}</span>
                    </div>
                </div>

                <!--newly added-->
                <div class="d-flex justify-content-end">
                    <div class="pad-r-1 total-amount d-flex justify-content-between">
                        <span class="me-0">Discount : </span> <input [(ngModel)]="overallDiscount" type=""
                            name="overallDiscount" class="w-25 ms-0">
                    </div>
                </div>

                <!-- Final Amount -->
                <div class="d-flex justify-content-end">
                    <div class="pad-r-1 total-amount d-flex justify-content-between">
                        <span>Final Amount : </span> <span class="mx-2">{{ getFinalAmount() }}</span>
                    </div>
                </div>

                <!----------payment Mode------------>
                <div class="d-flex align-items-center my-3">
                    <div class="pad-r-1">
                        <span><strong>Payment Mode</strong></span>
                    </div>
                    <div class="form-group col-md-2">
                        <!-- <input type="paymentMode" class="form-control pres-input w-100"> -->
                        <select name="paymentMode" class="app-single-select-dropdown w-100"
                            (change)="onPaymentModeChange($event)" required>
                            <option>cash</option>
                            <option>Online</option>
                            <option>UPI</option>
                            <option>Card</option>
                            <option>Cheque</option>
                        </select>
                    </div>
                    <!-- pay btn -->
                    <span class=" col-md-1 download-button btn btn-info h-25 ms-2">Pay</span>
                    <!-- print btn -->
                    <span class=" col-md-1 download-button btn btn-info h-25 ms-2" (click)="printData()">Print</span>
                </div>
                <!--------checkbox input field-------->
                <div *ngIf="showChequeInbox" class="mt-3 w-25">
                    <mat-form-field appearance="outline">
                        <mat-label>Cheque number</mat-label>
                        <input matInput name="cheque" type="text" placeholder="Cheque number">
                    </mat-form-field>
                </div>
            </mat-card>
        </mat-expansion-panel>
    </mat-accordion>
</section>