<section>
    <app-label>Details</app-label>
    <mat-accordion>
        <mat-expansion-panel class="my-3">
            <mat-expansion-panel-header class="app-expansion">
                <div class="app-expansion-title col-md-12">
                    <span>Patient Id: <span>0812</span></span>
                    <span>Visiting ID: <span>booking_id</span></span>
                    <span>First Name: <span>Mayank</span></span>
                    <span>Doctor's Name: <span>M.Patidar</span></span>
                    <span>Date: <span>02/08/23</span></span>
                </div>
            </mat-expansion-panel-header>

            <mat-card class="table-card-style">

                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort>
                        <!--Sno -->
                        <ng-container matColumnDef="sno">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sno </th>
                            <td mat-cell *matCellDef="let row"> {{row.sno}} </td>
                        </ng-container>

                        <!-- Investigation Name -->
                        <ng-container matColumnDef="investigationName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Investigation Name</th>
                            <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.investigationName}} </td>
                        </ng-container>

                        <!--Specimen -->
                        <ng-container matColumnDef="specimen">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Specimen </th>
                            <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.specimen}} </td>
                        </ng-container>

                        <!-- select -->
                        <ng-container matColumnDef="sampleCollected">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sample Collected </th>
                            <td mat-cell *matCellDef="let row" class="action-style text-ellipsis">
                                <mat-checkbox [(ngModel)]="row.sampleCollected"
                                    class="large-mat-checkbox"></mat-checkbox>
                            </td>
                        </ng-container>

                        <!-- sample date -->
                        <ng-container matColumnDef="sampleDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sample Date </th>
                            <!-- <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.sampleDate}} </td> -->
                            <td mat-cell *matCellDef="let row" class="text-ellipsis"> <span *ngIf="row.sampleCollected">{{row.sampleDate | date}} </span><span *ngIf="!row.sampleCollected"></span></td>

                        </ng-container>

                        <ng-container matColumnDef="time">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Time </th>
                            <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.time}} </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Bar Code </th>
                            <td mat-cell *matCellDef="let row" class="text-ellipsis">
                                <button [(disabled)]="!row.sampleCollected" class="btn-style"
                                    [class.checked]="row.sampleCollected"
                                    (click)="openDialogPatientId('0ms', '0ms')">Print</button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page of users"></mat-paginator>
                </div>

                <div class="col-md-4">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="" class="app-label">Collected By</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <select name="patientType" class="app-single-select-dropdown w-100" required>
                                    <option>Ram Patidar</option>
                                    <option>Rahul Upadhyay</option>
                                    <option>Kamal Mishra</option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-end my-2">
                            <div class="col-3">
                                <button class="common-button">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

            </mat-card>
        </mat-expansion-panel>
    </mat-accordion>
</section>