<section>
    <app-label>Details</app-label>
    <!-- <section class="section-role-selector">
        <h1 mat-dialog-title>Proceed</h1>
        <div mat-dialog-content>
          <p>You want to proceed?</p>
        </div>
        <div mat-dialog-actions>
          <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Proceed</button>
          <button mat-button >Cancel</button>
        </div>
      </section> -->

    <div *ngIf="showPatientIdBarcode">
        <div style="text-align:center">
            <h1>
                Welcome to Aayam !
            </h1>
        </div>
        <div style="text-align:center">
            <ngx-barcode6 [bc-format]="'CODE128'" [bc-value]="'P12584'" [bc-display-value]="true">
            </ngx-barcode6>
        </div>
       
    </div>

    <div *ngIf="showTestIdBarcode">
        <div style="text-align:center">
            <h1>
                Welcome to Aayam !
            </h1>
        </div>
        <div style="text-align:center">
            <ngx-barcode6 [bc-format]="'CODE128'" [bc-value]="'T123548'" [bc-display-value]="true">
            </ngx-barcode6>
        </div>
       
    </div>
    <mat-accordion>
        <mat-expansion-panel class="my-3">
            <mat-expansion-panel-header class="app-expansion">
                <div class="app-expansion-title col-md-12">
                    <span>Patient Id: <span>0812</span></span>
                    <span>Visiting ID: <span>booking_id</span></span>
                    <span>First Name: <span>Mayank</span></span>
                    <span>Doctor's Name: <span>M.Patidar</span></span>
                    <span>Date: <span>02/08/23</span></span>
                </div>
            </mat-expansion-panel-header>

            <mat-card class="table-card-style">

                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort>
                        <!--Sno -->
                        <ng-container matColumnDef="sno">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sno </th>
                            <td mat-cell *matCellDef="let row"> {{row.sno}} </td>
                        </ng-container>

                        <!-- medicine -->
                        <ng-container matColumnDef="investigationName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Investigation Name</th>
                            <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.investigationName}} </td>
                        </ng-container>

                        <!--dosage -->
                        <ng-container matColumnDef="specimen">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Specimen </th>
                            <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.specimen}} </td>
                        </ng-container>

                        <!-- select -->
                        <ng-container matColumnDef="sampleCollected">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sample Collected </th>
                            <td mat-cell *matCellDef="let row" class="action-style text-ellipsis"><mat-checkbox
                                    class="large-mat-checkbox"></mat-checkbox></td>
                        </ng-container>

                        <!-- Duration -->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date </th>
                            <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.date}} </td>
                        </ng-container>

                        <ng-container matColumnDef="time">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Time </th>
                            <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.time}} </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Bar Code </th>
                            <td mat-cell *matCellDef="let row" class="text-ellipsis"> <button class="common-button"
                                    (click)="generatePatientIdBarcode()">Patient Id</button> |
                                     <button class="common-button" (click)="generateTestIdBarcode()"
                                        >Test Id </button></td> 
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page of users"></mat-paginator>
                </div>

                <div class="col-md-4">
                    <div class="d-flex align-items-center mb-3">
                        <div class="col-md-3">
                            <label for="" class="app-label">Collected By</label>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <select name="patientType" class="app-single-select-dropdown w-100" required>
                                    <option>Ram Patidar</option>
                                    <option>Rahul Upadhyay</option>
                                    <option>Kamal Mishra</option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-end my-2">
                            <div class="col-3">
                                <button class="common-button">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

            </mat-card>
        </mat-expansion-panel>
    </mat-accordion>
</section>