<form>

    <mat-list class="row">
        <app-label>User Login</app-label>
        <div class="pt-3 d-flex flex-column align-items-center">
            <div
                class="border border-info pt-3 d-flex flex-column justify-content-center align-items-center w-25 style-form">
                <div class="row">
                    <!-- User Id -->
                    <div class="col-md-12">
                        <div class="d-flex align-items-center mb-3">
                            <!-- <div class="col-md-5">
                            <label for="exampleInputEmail1" class="app-label">User Id</label>
                        </div> -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="app-label">User Id</label>
                                    <input class="form-control app-input" name="userId" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- Password -->
                    <div class="col-md-12">
                        <div class="d-flex align-items-center mb-3">
                            <!-- <div class="col-md-5">
                            <label for="exampleInputEmail1" class="app-label">Password</label>
                        </div> -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="app-label">Password</label>
                                    <input type="text" class="form-control app-input" name="password" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- Rolls-->
                    <!-- <div class="col-md-12"> -->
                    <div class="d-flex align-items-center mb-3">
                        <!-- <div class="col-md-5"> -->
                        <!-- <label for="exampleInputEmail1" class="app-label">Roll</label> -->
                        <!-- </div> -->
                        <div class="col-md- w-100">
                            <!-- <div class="form-group"> -->
                            <label for="exampleInputEmail1" class="app-label">Roll</label>
                            <!-- <input type="text" class="form-control app-input" name="roll" required> -->
                            <select class="app-single-select-dropdown w-100">
                                <option>item-number-1</option>
                                <option>item-number-2</option>
                                <option>item-number-3</option>
                            </select>
                            <!-- </div> -->
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <div class="d-flex justify-content-end">
                    <p class="text-info">forget password</p>
                </div>
            </div>
        </div>
    </mat-list>

</form>