.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }

  .row-style{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .login-card{

    text-align: left;
    margin-left: 100 px;
    width:50%;
  }
.input-lable{

text-align:center;
margin-left: 0 px;
width:50%;
}
 
  
  