<!-- Toolbar -->
<mat-toolbar color="accent" class="header">
  <button (click)="sidenav.toggle()" mat-icon-button>
    <mat-icon class="mat-24">menu</mat-icon>
  </button>
  <span>&nbsp;Aayam Clinic Diary</span>
  <button (click)="logout()">Logout</button>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <app-eg-side-menu></app-eg-side-menu>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>

    <!-- Applying the mat-tyography class adds styles for native elements. -->
    <section class="app-container">
      <router-outlet></router-outlet>
    </section>

  </mat-sidenav-content>
</mat-sidenav-container>