@import '../../../variable.scss';

mat-sidenav-container {
  height: 100vh;
}

.mat-sidenav-content::-webkit-scrollbar,
body::-webkit-scrollbar,
mat-sidenav.sidenav::-webkit-scrollbar,
.main-container::-webkit-scrollbar {
  height: 6px;
  width: 6px
}

.mat-sidenav-content::-webkit-scrollbar-trac,
body::-webkit-scrollbar-track,
mat-sidenav.sidenav::-webkit-scrollbar-trac,
.main-container::-webkit-scrollbar-trac {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3)
}

.mat-sidenav-content::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
mat-sidenav.sidenav::-webkit-scrollbar-thumb,
.main-container::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  outline: 1px solid #333
}

// .mat-drawer-container {
//   position: relative;
//   z-index: -1;
//   box-sizing: border-box;
//   -webkit-overflow-scrolling: touch;
//   display: block;
//   overflow: hidden;
// }

// mat-toolbar {
//     .large-shadow-text {
//         font-size: 26px;
//         font-family: Arial, Verdana, Helvetica, sans-serif;
//         font-weight: bold;
//         //margin-left: 50px;
//         color: #424242; // 800 - 4527A0 900 - 311b92
//         text-shadow: 0 1px 0 #BDBDBD; // 300
//         //color: #311b92; // 800 - 4527A0 900 - 311b92
//         //text-shadow: 0 1px 0 #7E57C2; // 300
//         -moz-user-select: none;
//         overflow: visible;
//         //position: absolute;
//         white-space: nowrap;
//     }

//     .org-small {
//         line-height: 16px;

//         small {
//             font-size: 40%;
//         }
//     }
// }

// .mat-elevation-z10 {
//     .div-shop-icon {
//         margin-bottom: 4px;
//     }
// }
.mat-toolbar.header .logout-btn-menu {
  margin-left: auto;
  // background-color: $accent;
  .menu-icon {
    height: 50px;
    cursor: pointer;
  }
}


.options-container {
  position: absolute;
  top: 50px;
  right: 30px;
  background-color: $white;
  border: 1px solid hsl(0, 5%, 7%);
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.options {
  padding: none;
  cursor: pointer;
  margin-bottom: 0px;
}

.large-shadow-text {
  color: $white;
  font-weight: 700;
  font-size: 1.5rem;
}