<!-- Toolbar -->
<mat-toolbar color="accent" class="header">
  <button (click)="sidenav.toggle()" mat-icon-button>
    <mat-icon class="mat-24">menu</mat-icon>
  </button>
  <span>&nbsp;Aayam Clinic Diary</span>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <mat-nav-list>
      <mat-nav-list>
        <ng-container>
          <div mat-subheader>Hospitals/Clinics</div>
          <mat-list-item [routerLink]="'/tx-history'">
            <mat-icon>receipt_long</mat-icon>
            <span class="menu-title">Hospitals/Clinics</span>
          </mat-list-item>
        </ng-container>
        <ng-container>
          <div mat-subheader>User Management</div>
          <mat-list-item [routerLink]="'/tx-history'">
            <mat-icon>receipt_long</mat-icon>
            <span class="menu-title">Staff</span>
          </mat-list-item>
          <mat-list-item [routerLink]="'/tx-history'">
            <mat-icon>receipt_long</mat-icon>
            <span class="menu-title">Phamacy</span>
          </mat-list-item>
        </ng-container>
        
      </mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>

    <!-- Applying the mat-tyography class adds styles for native elements. -->
    <section class="app-container">
      <router-outlet></router-outlet>
    </section>

  </mat-sidenav-content>
</mat-sidenav-container>