<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <button class="color-white" (click)="sidenav.toggle()" mat-icon-button>
    <mat-icon class="mat-24">menu</mat-icon>
  </button>
  <div class="large-shadow-text" fxHide.lt-sm mat-line>
    <span *ngIf="!org">Aayam Clinic Diary</span>
    <span *ngIf="logo" class="logout-btn-menu">
      <img [src]="logo" (click)="openOptions()" class="avatar" alt="Menu" />&nbsp;
    </span>
    <span *ngIf="org">{{ org.name }}</span>
  </div>

  <div *ngIf="isSupportUser && org">
    <button (click)="resetOrg()" mat-icon-button>
      <mat-icon class="mat-24" svgIcon="ic_remove"></mat-icon>
    </button>
  </div>
  <!-- <span>&nbsp;Aayam Clinic Diary</span> -->
  <div class="logout-btn-menu">
    <img src="../../../../../assets/icon/user_circle.svg" (click)="openOptions()" class="menu-icon"
      alt="Menu" />
  </div>
  <div *ngIf="showOptions" class="options-container">
    <!-- Add logout and more option here -->
    <mat-action-list>
      <button mat-list-item (click)="logout()" class="options">Logout</button>
      <button mat-list-item>Help</button>
    </mat-action-list>
    <!-- Add other options if needed -->
  </div>

  <!-- <app-eg-user-menu></app-eg-user-menu> -->
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <app-eg-side-menu></app-eg-side-menu>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <!-- Applying the mat-tyography class adds styles for native elements. -->
    <section class="app-container">
      <router-outlet></router-outlet>
    </section>
    
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <div class="footer" color="primary">
  xx xxx xx
</div> -->