<section class="section-org-edit">
    <div class="row mb-3">
        <div class=" d-flex justify-content-between">
            <h2>Add Inventory</h2>
        </div>
    </div>

    <form>
        <div class="row">
            <!-- Product Name -->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Product Name</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control app-input" name="ProductName" required>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Date -->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Date</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="date" class="form-control app-input" name="date" required>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <!-- Quantity Purchased-->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Quantity Purchased</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control app-input" name="quantityPurchased" required>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Quantity Remaining -->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Quantity Remaining</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control app-input" name="quantityRemaining" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>