<section>
    <span class="receipt-head" id="receipt-print">
        <div class="receipt-head">
            <!-- <img src="\assets\prescription-pad-top.jpg" alt="Clinic Logo" class="logo" /> -->
            <!-- </div> -->
            <!-- <hr /> -->
            <!-- </div> -->
            <div class="d-flex p-2">
                <div class="col-3">
                </div>

                <!-- <div class="col-2 service-list">
                <br />
                <li>Pimples</li>
                <li>Dark Circles</li>
                <li>Hairfall</li>
                <li>Graying of Hair</li>
                <li>Leukoderma</li>
                <li>Eczema</li>
                <li>Skin Allergy</li>
                <li>Psoriasis</li>
                <li>Skin Peeling</li>
                <li>Mole Removal</li>
                <li>Wart Removal</li>
                <li>Chemical Peels</li>
                <li>Microneedling</li>
                <li>Nail Disorder</li>
                <br />
                <li>कील मुहांसे</li>
                <li>काले घेरे </li>
                <li>बालों का झड़ना</li>
                <li>बाल सफेद होना</li>
                <li>सफ़ेद दाग</li>
                <li>एक्जिमा</li>
                <li>स्किन एलर्जी</li>
                <li>सोरायसिस</li>
                <li>त्वचा का छीलना</li>
                <li>मस्से की सर्जरी</li>
                <li>केमिकल पील्स</li>
                <li>माइक्रोनीडलिंग</li>
                <li>नाखून सम्बंधित रोग</li>

            </div> -->
                <div class="col-9 receipt-info style-it">
                    <div class="info row">
                        <span class="col-md-3"><strong>Patient ID:</strong> {{data.userBooking.booking.patientNo}}</span>
                        <span class="col-4"><strong>Doctor Name:</strong> {{getDoctorById(data.userBooking.booking.dr)}}</span>

                        <span class="col-4"><strong>Patient Name:</strong> {{ data.userBooking.user.nameF ?? '' }} {{
                            data.userBooking.user.nameL ??
                            '' }}</span>
                        <span class="col-3"><strong>Date:</strong> {{currentDate | date}} </span>
                        <span class="col-4"><strong>Father Name:</strong> {{ data.userBooking.user.fatherName ?? '' }}</span>
                        <span class="col-4"><strong>Gender: </strong> <span *ngIf="data.userBooking.user.gender">{{
                                genderName[data.userBooking.user.gender] }}</span></span>
                        <span class="col-3"><strong>Age:</strong> {{ age }}</span>
                        <!-- <span class="col-10"><strong>Patient Address:</strong> {{ patientAddress }}</span> -->
                        <span class="col-4"><strong>Referred By:</strong> {{ data.userBooking.booking.referedBy }}</span>

                    </div>
                    <div class="d-flex p-2 col-12">
                        <div class="d-flex flex-column col-9 pe-2 prescription-details">
                            <span class="mb-2"><strong>Patient Complaint: </strong>{{data.userBooking.booking.complaint}}</span>
                            <span><strong>Diagnosis: </strong>{{data.userBooking.booking.diagnosis}}</span>
                            <span class="mt-2"><strong>Rx</strong></span>
                            <table>
                                <thead>
                                    <tr>
                                        <th class="sno-column">Sno</th>
                                        <th class="text-center">Medicine</th>
                                        <th class="dosage-column text-center">Dosage</th>
                                        <th class="duration-column text-center">Duration</th>
                                        <th class="remark-column text-center">Remark</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let service of data.userBooking.booking.prescription; let i = index">
                                        <td class="sno-column">{{i+1}}</td>
                                        <td>{{ service.name }}</td>
                                        <td class="dosage-column text-center">{{ service.dosage }}</td>
                                        <td class="duration-column text-center">{{ service.duration }}</td>
                                        <td class="remark-column text-center">{{service.instruction}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="ps-2 col-3 d-flex flex-column justify-content-between service-list">
                            <div class="para-style" *ngIf="data.userBooking.booking.observation.healthParams.length>0">
                                <span><strong>Parameters</strong></span>
                                <ul *ngFor="let item of data.userBooking.booking.observation.healthParams" class="mt-2">
                                    <li class="custom-li">{{item.name}} : <span>{{item.value}}</span></li>
                                </ul>
                            </div>
                            <div class="para-style" *ngIf="data.userBooking.booking.test.length>0">
                                <span><strong>Investigation</strong></span>
                                <ul class="mt-2">
                                    <li *ngFor="let test of data.userBooking.booking.test">{{test}}</li>
                                </ul>
                            </div>
                            <div class="para-style" *ngIf="data.userBooking.booking.instruction.length>0">
                                <span><strong>Remark</strong></span>
                                <li class="mt-2">{{data.userBooking.booking.instruction}}</li>
                            </div>
                            <div class="">
                                <span><strong>Next Visit</strong></span>
                                <p class="mt-2">{{data.userBooking.booking.nextVisitDate| date}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="d-flex flex-column justify-content-end p-2">
                    <span class="d-flex align-items-center"><mat-icon>home</mat-icon> <span class="ms-1">9/3
                            Manoramaganj,
                            Near Geeta Bhawan Hospital Aayam Institute Campus, Indore</span></span>
                    <span class="d-flex align-items-center"><mat-icon>mail</mat-icon><span
                            class="ms-1">mail@aayamskinclinic.com</span></span>
                    <span class="d-flex align-items-center"><mat-icon>phone</mat-icon><span class="ms-1">+91
                            7470909055</span></span>
                </div> -->
                </div>
            </div>
        </div>
    </span>
    <mat-dialog-actions align="end">
        <button mat-button matDialogClose="no">Cancel</button>
        <button (click)="print()" mat-button>Print</button>
    </mat-dialog-actions>
</section>