<!-- User Type section -->
<section class="section-org-edit" *ngIf="showSectionUserTypeList">
    <div class="row">
        <div class="px-5 d-flex justify-content-between">
            <h2>User Type List</h2>
            <button class="common-button" (click)="addUserTypeSection()">Add User Type</button>
        </div>
    </div>

    <mat-card class="table-card-style">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <!-- User Type Code -->
                <ng-container matColumnDef="userTypeCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <input class="placeholder-style" placeholder="User Type Code" name="userTypeCodeFilter"
                            (keyup)="applyFilter('userTypeCode', $event)" #userTypeCodeInput>
                    </th>
                    <td mat-cell *matCellDef="let row"> {{row.userType.code}} </td>
                </ng-container>

                <!-- User Type -->
                <ng-container matColumnDef="userTypeName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <input class="placeholder-style" placeholder="User Type Name" name="userTypeNameFilter"
                            (keyup)="applyFilter('userTypeName', $event)" #userTypeNameInput>
                    </th>
                    <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.userType.name}} </td>
                    <input class="placeholder-style" name="userTypeNameFilter"
                        (keyup)="applyFilter('userTypeName', $event)" #userTypeNameInput>
                </ng-container>

                <!-- Department -->
                <ng-container matColumnDef="departmentName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <input class="placeholder-style" placeholder="Department Name" name="departmentNameFilter"
                            (keyup)="applyFilter('departmentName', $event)" #departmentNameInput>
                    </th>
                    <td mat-cell *matCellDef="let row" class="text-ellipsis"> {{row.departmentName}} </td>
                </ng-container>

                <!-- Action -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row" class="action-style text-ellipsis"><button mat-button
                            class="action-style" (click)="editUserType(row)">Edit</button> | <button
                            class="action-style" mat-button>Delete</button></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <!-- <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr> -->
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    </mat-card>
</section>

<!-- Add Product section -->
<section class="section-org-edit" *ngIf="showSectionUserTypeEdit">
    <div (click)="cancel()" class="d-flex flex-row justify-content-end">
        <svg width="30px" height="30px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#000000">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path fill="#000000" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"></path>
                <path fill="#000000"
                    d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z">
                </path>
            </g>
        </svg>
    </div>
    <app-user-type-edit [userType]="userType" [departmentList]="departmentList"></app-user-type-edit>

    <div class="d-flex align-items-center mt-5 mb-4">
        <div class="col-1">
            <button (click)="savingUserType()" class="common-button">{{'save'}}</button>
        </div>
        <div class="col-1">
            <button (click)="cancel()" class="cancel-button">{{'cancel'}}</button>
        </div>
    </div>

</section>