<section class="section-edit-address">
    <form #addressForm="ngForm">
        <div *ngIf="address">
            <div class="row g-0">
                <div class="col-md pad-r-md-1">
                    <mat-form-field appearance="outline">
                        <mat-label>Address</mat-label>
                        <input matInput name="street1" placeholder="Street 1" [(ngModel)]="address.address" required="">
                    </mat-form-field>
                </div>
                <div class="col-md pad-r-md-1">
                    <mat-form-field appearance="outline">
                        <mat-label>City</mat-label>
                        <input matInput name="city" placeholder="City" [(ngModel)]="address.city" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row g-0">
                <div class="col-md pad-r-md-1">
                    <mat-form-field appearance="outline">
                        <mat-label>District</mat-label>
                        <input matInput name="district" placeholder="District" [(ngModel)]="address.district">
                    </mat-form-field>
                </div>
                <div class="col-md pad-r-md-1">
                    <mat-form-field appearance="outline">
                        <mat-label>State</mat-label>
                        <input matInput name="state" placeholder="State" [(ngModel)]="address.state" minlength="6"
                            maxlength="6" appNumberOnly required>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</section>