<section class="section-edit-address">
    <form #addressForm="ngForm">
        <div *ngIf="address">
            <!-- <div class="row"> -->
                <div class="row">
                    <!-- Address -->
                    <div class="col-md-6">
                        <div class="d-flex align-items-center mb-3">
                            <div class="col-md-3">
                                <label for="exampleInputEmail1" class="app-label">Address</label>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <input type="address" name="address" class="form-control app-input" [(ngModel)]="address.address" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- City -->
                    <div class="col-md-6">
                        <div class="d-flex align-items-center mb-3">
                            <div class="col-md-3">
                                <label for="exampleInputEmail1" class="app-label">City</label>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <input type="city" class="form-control app-input" name="city" [(ngModel)]="address.city" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- District -->
                    <div class="col-md-6">
                        <div class="d-flex align-items-center mb-3">
                            <div class="col-md-3">
                                <label for="exampleInputEmail1" class="app-label">District</label>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <input name="district" class="form-control app-input" type="district" [(ngModel)]="address.district">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- State -->
                    <div class="col-md-6">
                        <div class="d-flex align-items-center mb-3">
                            <div class="col-md-3">
                                <label for="exampleInputEmail1" class="app-label">State</label>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <input matInput name="state" class="form-control app-input" type="state" [(ngModel)]="address.state">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </form>
</section>