<section class="section-view-address">
  <div fxLayout="column" *ngIf="address">
    <div fxLayout="row">
      <div fxFlex="100px" class="title">{{'address.name'}}</div>
      <div>
        <div *ngIf="address.address">{{address.address}},</div>
        <div><span *ngIf="address.city">{{address.city}}</span></div>
        <div><span *ngIf="address.district">{{address.district}}</span></div>
        <div *ngIf="address.state">{{ 'state.' + address.state | lowercase }}</div>
      </div>

    </div>

  </div>

</section>