/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "./variable.scss";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-wrapper {
    padding-bottom: 0;
    margin: 0;
}

.mat-sidenav-container {
    min-height: 100%;
    padding-bottom: 30px;
}


.mat-nav-list .mat-list-item {
    font-size: 15px;
}

.nav-tool-items {
    display: inline-block;
    // margin-right: 13px;
}

.app-container {
    padding-top: 80px;
}

.mat-sidenav,
.mat-sidenav-content {
    padding: 15px 0;
}

.mat-list-item.active {
    background: rgba(0, 0, 0, 0.04);
}

.mat-sidenav-content {
    padding: 25px 40px 0;
}

// .mat-sidenav {
//     width: 250px;
// }

.header {
    position: fixed;
    top: 0;
    z-index: 1000;
}

mat-sidenav mat-icon {
    margin-right: 12px;
    margin-top: auto;
    vertical-align: middle;
}

.mat-radio-button,
.mat-radio-group {
    margin-right: 25px;
}

.controlers-wrapper>* {
    width: 100%;
    padding: 0;
}

.misc-bottom-padding {
    margin: 8px 0 10px;
}

.misc-bottom-padding mat-label {
    margin-right: 15px;
}

mat-radio-group mat-radio-button {
    margin-left: 5px;
}

.button-wrapper button {
    margin-right: 5px;
}

table.mat-table,
table {
    width: 100%;
}

body .mat-list-item {
    margin-bottom: 10px;
}

.inner-wrapper {
    padding: 15px 0 130px;
    width: 100%;
}

.inner-wrapper mat-card {
    display: inline-block;
    margin: 0 6% 0 0;
    vertical-align: top;
    width: 44%;
}

.full-wrapper {
    width: 100%;
}

.multiple-items {
    position: relative;
}

.multiple-items .tooltip-info {
    right: 0;
    top: 7px;
    cursor: pointer;
    color: #a1a7c7;
    position: absolute;
    font-size: 20px;
}

body .push-right {
    margin-right: 10px;
}

.no-data {
    text-align: center;
    padding-top: 30px;
    color: #6c75a9;
}

.button-wrapper {
    margin: 20px 0 0 0;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}

.title-group {
    margin-bottom: 25px;
}

.card-deck-container {
    width: 100%;
    max-width: 1200px;
    position: relative;
    border-radius: 2px;
    padding: 10px 10px 30px;
    margin: 10px 10px 10px 10px;
    background-color: #f5f5f5;
}

.card-item {
    padding: 3px 3px 3px 3px;
}

mat-grid-tile {
    background: lightblue;
}

.my-alternate-theme button {
    margin-right: 10px;
}

.mat-drawer-container {
    background-color: #fff;
}

.avatar {
    flex-shrink: 0;
    width: 52px;
    height: 52px;
    border-radius: 50%;
}

mat-list-item.section-title {
    background-color: #EEEEEE !important; //#C3E8F8;
    margin-bottom: 16px !important;

    mat-list-item-content {
        font-weight: 500 !important;
    }
}

.is-active {
    background-color: $lightBrown !important;
}

.is-active {
    background-color: $lightBrown !important;
}

.common-button {
    background-color: $secondary;
    color: $white;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: background-color 0.3s ease;
}
.common-button:hover{
    background-color:$warn;
}
.cancel-button {
    background-color: $white;
    color: $black;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: background-color 0.3s ease;
}
.cancel-button:hover{
    background-color:$warn;
}
//---------------------------------------TAB STYLES ---------------------------------------------//
.tab-style{
    height:40px;
    // width:60%;
    width:auto;
}

.tab-content{
    // width:16.66%;
    width:auto;

}
//  ------------------------------------ flex css classes start  ------------------------------------ //
.flex-row {
    display: flex !important;
    flex-direction: row !important;
}

.flex-column {
    display: flex !important;
    flex-direction: column !important;
}

pl-left-0 {
    padding-left: 0 !important;
}

mat-form-field {
    padding-left: 0 !important;
    width: 100% !important;
}

.pad-l-1 {
    padding-left: 10px !important;
}

.pad-r-1 {
    padding-right: 10px !important;
}

// style for input box of forms
.app-input {
    height: 50px;
}
// style for input box of prescription forms
.pres-input {
    height: 40px;
}
//style for label of forms 
.app-label {
    font-size: 18px;
}

// style for add and delete icon 
.add-icon{
    cursor: pointer;
    align-self: center;
    // font-size: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

//************************* select css start *************************//
.multiselect-dropdown {
    .dropdown-btn {
        height: 40px;
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        font-size: 1rem !important;
        font-weight: 400 !important;
        color: #212529 !important;
        background-clip: padding-box !important;
        border: solid 1px #dee2e6 !important;
        border-radius: 0.375em !important;
    }

    .dropdown-multiselect__caret {
        height: 40px !important;
    }

}

.app-single-select-dropdown {
    height: 40px;
    border-radius: 6px;
    border-color: $lightGray;
}

.min-height-300 {
    min-height: 300px;
}

.clickable {
    cursor: pointer;
}

//************************* multiselect css end *************************//

//************************* mat expansion panel css start *************************//

.app-expansion {
    background-color: $secondary;

    .app-expansion-title {
        margin-top: auto;
        color: $white;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.sub-app-expansion {
    background-color: $accent;
}

.mat-expansion-panel-header:hover,
.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus {
    background-color: $warn !important;
}

.mat-expansion-indicator,
.mat-expansion-indicator:after {
    color: $white !important;
}

//************************* mat expansion panel css end *************************//

//------------------------------------mat table common css ---------------------------------------------//
.table-card-style{
    // background-color:azure;
    padding:20px;
    margin-top:20px;
  }
  
  table {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 100%;
    margin-bottom:20px;
    // margin-top:20px;
    /* text-align: center; */
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  tbody{
    border-width: 1px;
  }
  .mat-elevation-z8{
    box-shadow: none !important;
  }
  td, th {
    min-width: 25%;
    max-width:50%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    /* text-align: center;
    align-self: center; */
  }
  
  .filter-input-style{
    margin-top: 20px;
    margin-bottom:10px;
    background-color: transparent;
    width:10%;
    padding-top: 10px;
    color: transparent;
    margin-left:20px;
    border-style: solid;
    border-width: 1px;
    border-color:black;
  }
  
  .action-style{
    color:blue !important;
    font-size: 14px;
  }
  .search-input-style{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
    height:30px;
  }
  .input-style{
    border-radius: 12px;
  }
  .mdc-data-table__cell, .mdc-data-table__header-cell{
      border-bottom-color: black !important;
}
// ************************************ mat table commom css end *************************************//

//************************* mat calender css start *************************//
::ng-deep .mat-calendar-header .mat-calendar-period-button {
    background-color: rgb(32, 184, 32);
  }

  ::ng-deep .mat-calendar-header .mat-calendar-previous-button,
::ng-deep .mat-calendar-header .mat-calendar-next-button {
  color: black; /* Change the font color of the navigation buttons */
}
  
.calendar-card{
    border: 2px solid rgb(35, 241, 187);
}

//************************* mat calender css end *************************//



//  ------------------------------------ flex css classes end  ------------------------------------ //

@media (max-width: 1024px) {
    .inner-wrapper mat-card {
        width: 100%;
    }

    .mat-sidenav-content {
        padding: 20px 20px 0;
    }

    .misc-bottom-padding mat-label {
        display: block;
        padding-bottom: 10px;
    }

    .mat-sidenav {
        width: 230px;
    }

    .mat-nav-list .mat-list-item {
        font-size: 14px;
    }
}

@media (max-width: 767px) {}

@media (min-width: 768px) {
    .pad-l-md-1 {
        padding-left: 1rem !important;
    }

    .pad-r-md-1 {
        padding-right: 1rem !important;
    }
}


