<section class="section-org-edit">
    <mat-list class="row">
        <app-label>Services</app-label>
        <div class="col-md-2">
            <button (click)="addNewService()" [disabled]="showSectionAdd" class="common-button">Add New</button>
        </div>
        <mat-accordion *ngFor="let booking of userBookingInvestigationList?.bookingList">
            <mat-expansion-panel class="my-3" *ngIf="booking._id != userBooking.booking?._id">
                <mat-expansion-panel-header class="app-expansion ">
                    <div class="app-expansion-title col-md-12">
                        <span>UHID: <span>{{booking.patientNo}}</span></span>
                        <span>Visiting ID: <span>{{booking.no}}</span></span>
                        <span>First Name: <span
                                *ngIf="userBookingInvestigationList?.user">{{userBookingInvestigationList.user.nameF ??
                                ''}}
                                {{userBookingInvestigationList.user.nameL ?? ''}}</span></span>
                        <span>Doctor's Name: <span>{{getDoctorById(userBooking.booking.dr)}}</span></span>
                        <span>Date: <span>{{booking.bookingDate | date}}</span></span>
                    </div>
                </mat-expansion-panel-header>
                <div class="border border-info rounded p-3 mt-4 container-style">
                    <div class="row">
                        <div class="col-md-1"><strong>Sno.</strong></div>
                        <div class="col-md-3"><strong>Service Type</strong></div>
                        <div class="col-md-3"><strong>Service/Investigation</strong></div>
                        <div class="col-md-2"><strong>Amount</strong></div>
                        <!-- CAN BE USED FURTHER -->
                        <!-- <div class="col-md-2"><strong>Discount</strong></div>
                        <div class="col-md-2"><strong>Net Amount</strong></div> -->
                        <div class="col-md"></div>
                    </div>
                    <div class="row align-items-center" *ngFor="let orderItem of booking.items; let i = index;">
                        <div class="col-md-1 pres-input text-center">
                            <p class="border border-info rounded p-1 text-align-center">{{i + 1}}</p>
                        </div>

                        <!-- Service-type -->
                        <div class="form-group col-md-3">
                            <p class="form-control pres-input w-100">
                                {{getServiceTypeName(orderItem)}}</p>
                        </div>

                        <!-- Service -->
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control pres-input w-100" name="service-item{{i}}"
                                [value]="orderItem.name">
                        </div>

                        <!--Total Amount-->
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control pres-input w-100" name="amount{{i}}"
                                [value]="orderItem.amount">
                        </div>

                        <!-- CAN BE USED FURTHER -->
                        <!-- Discount -->
                        <!-- <div class="form-group col-md-2">
                            <input type="text" class="form-control pres-input w-100" name="discount">
                        </div> -->

                        <!-- Net Amount -->
                        <!-- <div class="form-group col-md-2">
                            <input [readOnly]="true" type="number" class="form-control pres-input w-100" name="net-amount">
                        </div> -->
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion *ngIf="showSectionAdd">
            <mat-expansion-panel class="my-3">
                <mat-expansion-panel-header class="app-expansion ">
                    <div class="app-expansion-title col-md-12">
                        <!-- <span>UHID: <span>{{userBooking.booking.patientNo}}</span></span> -->
                        <span>UHID: <span>{{userBookingInvestigationList.bookingList[0].patientNo}}</span></span>

                        <!-- <span>Visiting ID: <span>{{userBooking.booking.no}}</span></span> -->
                        <span>Visiting ID: <span>{{userBookingInvestigationList.bookingList[0].no}}</span></span>

                        <span>Name: <span *ngIf="userBookingInvestigationList?.user">{{userBooking.user.nameF ??
                                ''}}
                                {{userBooking.user.nameL ?? ''}}</span></span> <span>Doctor's Name:
                            <span>{{getDoctorById(userBooking.booking.dr)}}</span></span>
                        <span>Date: <span>{{userBooking.booking.bookingDate | date}}</span></span>
                    </div>
                </mat-expansion-panel-header>
                <form #serviceForm="ngForm">
                    <div class="border border-info rounded p-3 mt-4 container-style">
                        <div class="row">
                            <div class="col-md-1"><strong>Sno.</strong></div>
                            <div class="col-md-3"><strong>Service Type</strong></div>
                            <div class="col-md-3"><strong>Service/Investigation</strong></div>
                            <div class="col-md-2"><strong>Amount</strong></div>
                            <!-- CAN BE USED FURTHER -->
                            <!-- <div class="col-md-2"><strong>Discount</strong></div>
                            <div class="col-md-2"><strong>Net Amount</strong></div> -->
                            <div class="col-md"></div>
                        </div>
                        <div class="row align-items-center"
                            *ngFor="let orderItem of userBooking.booking.items; let i = index;">
                            <div class="col-md-1 pres-input text-center">
                                <p class="border border-info rounded p-1 text-align-center">{{i + 1}}</p>
                            </div>

                            <!-- Service Type-->
                            <div class="form-group col-md-3">
                                <select class="app-single-select-dropdown w-100" name="service-type{{i}}"
                                    [(ngModel)]="serviceTypeInvestigation[i]">
                                    <option [value]="null" [disabled]="true">Select Sevice Type</option>
                                    <option *ngFor="let type of serviceTypeList" [value]="type._id">{{type.name}}
                                    </option>
                                </select>
                            </div>

                            <!-- Service -->
                            <div class="form-group col-md-3">
                                <select class="app-single-select-dropdown w-100" name="service-item{{i}}"
                                    (change)="onServiceSelect($event, i)"
                                    [ngModel]="userBooking.booking.items[i].item?._id">
                                    <option [value]="null" [disabled]="true">Select Sevice Item</option>
                                    <option *ngFor="let item of getServiceItemSelectList(i)" [value]="item?.item?._id">
                                        {{item?.item?.name}}
                                    </option>
                                </select>

                            </div>

                            <!--Total Amount  -->
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control pres-input w-100" name="total{{i}}"
                                    [value]="userBooking.booking.items[i].amount">
                            </div>


                            <!-- CAN BE USED FURTHER -->
                            <!-- Discount -->
                            <!-- <div class="form-group col-md-2">
                                <input type="text" class="form-control pres-input w-100" [(ngModel)]="serviceDiscount" name="discount">
                            </div> -->

                            <!-- Net Amount -->
                            <!-- <div class="form-group col-md-2">
                                <input [readOnly]="true" type="number" class="form-control pres-input w-100" name="net-amount{{i}}"
                                    [value]="userBooking.booking.items[i].amount-serviceDiscount">
                            </div> -->

                            <div class="col-md-2">
                                <mat-icon (click)="removeServiceItem(i)" class="add-icon clickable">delete</mat-icon>
                                &nbsp;&nbsp;
                                <mat-icon (click)="addServiceItem()"
                                    *ngIf="(i + 1) == userBooking.booking.items?.length"
                                    class="add-icon clickable">add_circle_outline</mat-icon>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-list>
</section>