<section class="section-org-edit">
    <mat-list class="row">
        <app-label>Services</app-label>
        <div class="col-md-2">
            <button (click)="addNewService()" [disabled]="showSectionAdd" class="common-button">Add New</button>
        </div>
        <mat-accordion *ngFor="let booking of userBookingInvestigationList?.bookingList">
            <mat-expansion-panel class="my-3">
                <mat-expansion-panel-header class="app-expansion ">
                    <div class="app-expansion-title col-md-12">
                        <span>UHID: <span>{{booking.patientNo}}</span></span>
                        <span>Visiting ID: <span>{{booking.no}}</span></span>
                        <span>First Name: <span
                                *ngIf="userBookingInvestigationList?.user">{{userBookingInvestigationList.user.nameF ??
                                ''}}
                                {{userBookingInvestigationList.user.nameL ?? ''}}</span></span>
                        <span>Doctor's Name: <span>Ram</span></span>
                        <span>Date: <span>{{booking.bookingDate | date}}</span></span>
                    </div>
                </mat-expansion-panel-header>
                <div class="border border-info rounded p-3 mt-4 container-style">
                    <div class="row">
                        <div class="col-md-1"><strong>Sno.</strong></div>
                        <div class="col-me-3"><strong>Service Type</strong></div>
                        <div class="col-md-4"><strong>Service/Investigation</strong></div>
                        <div class="col-md-2"><strong>Amount</strong></div>
                        <!-- CAN BE USED FURTHER -->
                        <!-- <div class="col-md-2"><strong>Discount</strong></div>
                        <div class="col-md-2"><strong>Net Amount</strong></div> -->
                        <div class="col-md"></div>
                    </div>
                    <div class="row align-items-center" *ngFor="let orderItem of booking.items; let i = index;">
                        <div class="col-md-1 pres-input text-center">
                            <p class="border border-info rounded p-1 text-align-center">{{i + 1}}</p>
                        </div>
                       
                        <!-- Service-type -->
                        <div class="form-group col-md-3">
                            <select class="app-single-select-dropdown w-100">
                                <option *ngFor="let item of serviceTypeList">{{item.name}}</option>
                            </select>
                        </div>
                        <!-- Service -->
                        <div class="form-group col-md-4" *ngIf="!showInvestigation">
                            <!-- <select [disabled]="true" (change)="addItem($event, i)" name="service-item"
                                class="app-single-select-dropdown w-100" required>
                                <option [disabled]="isOptionDisabled(item.item._id)"
                                    *ngFor="let item of serviceItemList;" [value]="item.item._id">
                                    {{item?.item?.name}} <span *ngIf="item?.user?._id"> - {{item.user.nameF}}
                                        {{item.user.nameL ??
                                        ''}}</span>
                                </option>
                            </select> -->
                            <ng-multiselect-dropdown [placeholder]="'Select'" type="" 
                                [settings]="dropdownSettings" [data]="serviceItemSelectList"
                                (ngModelChange)="onServiceSelect($event,i)"
                                name="service-item-{{i}}"
                               
                                [ngModel]="userBooking.booking.items[i].item?._id">
                            </ng-multiselect-dropdown>
                        </div>

                        <!-- newly added -->
                        <div class="form-group col-md-4" *ngIf="showInvestigation">
                            <select 
                                class="app-single-select-dropdown w-100" required>
                                <option
                                    *ngFor="let item of investigationList;">
                                    {{item.testName}}
                                </option>
                            </select>
                        </div>


                        <!-- Amount -->
                        <!-- <div class="form-group col-md-2">
                            <input [readOnly]="true" type="text" class="form-control pres-input w-100"
                                name="amount{{i}}" [value]="booking.items[i].amount">
                        </div> -->

                        <!--Total Amount-->
                        <div class="form-group col-md-2" *ngIf="!showInvestigation">
                            <input type="text" class="form-control pres-input w-100" name="amount{{i}}"
                                [value]="userBooking.booking.items[i].amount">
                        </div>

                        <div class="form-group col-md-2" *ngIf="showInvestigation">
                            <input type="text" class="form-control pres-input w-100" name="amount"
                                [value]="100">
                        </div>

                        <!-- CAN BE USED FURTHER -->
                        <!-- Discount -->
                        <!-- <div class="form-group col-md-2">
                            <input type="text" class="form-control pres-input w-100" name="discount">
                        </div> -->

                        <!-- Net Amount -->
                        <!-- <div class="form-group col-md-2">
                            <input [readOnly]="true" type="number" class="form-control pres-input w-100" name="net-amount">
                        </div> -->
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion *ngIf="showSectionAdd">
            <mat-expansion-panel class="my-3">
                <mat-expansion-panel-header class="app-expansion ">
                    <div class="app-expansion-title col-md-12">
                        <span>UHID: <span>{{userBooking.booking.patientNo}}</span></span>
                        <span>Visiting ID: <span>{{userBooking.booking.no}}</span></span>
                        <span>Name: <span *ngIf="userBookingInvestigationList?.user">{{userBooking.user.nameF ??
                                ''}}
                                {{userBooking.user.nameL ?? ''}}</span></span> <span>Doctor's Name:
                            <span>M. Patidar</span></span>
                        <span>Date: <span>{{userBooking.booking.bookingDate | date}}</span></span>
                    </div>
                </mat-expansion-panel-header>
                <form #serviceForm="ngForm">
                    <div class="border border-info rounded p-3 mt-4 container-style">
                        <div class="row">
                            <div class="col-md-1"><strong>Sno.</strong></div>
                            <div class="col-md-3"><strong>Service Type</strong></div>
                            <div class="col-md-3"><strong>Service/Investigation</strong></div>
                            <div class="col-md-2"><strong>Amount</strong></div>
                            <!-- CAN BE USED FURTHER -->
                            <!-- <div class="col-md-2"><strong>Discount</strong></div>
                            <div class="col-md-2"><strong>Net Amount</strong></div> -->
                            <div class="col-md"></div>
                        </div>
                        <div class="row align-items-center"
                            *ngFor="let orderItem of userBooking.booking.items; let i = index;">
                            <div class="col-md-1 pres-input text-center">
                                <p class="border border-info rounded p-1 text-align-center">{{i + 1}}</p>
                            </div>

                            <!-- Service Type-->
                            <div class="form-group col-md-3">
                                <select class="app-single-select-dropdown w-100" name="service-type{{i}}" [(ngModel)]="serviceTypeInvestigation" (change)="serviceItemSelect($event,i)" >
                                    <option *ngFor="let item of serviceTypeList" >{{item.name}}</option>
                                    <!-- <option>Investigation</option> -->
                                </select>
                            </div>

                            <!-- Service -->
                            <div class="form-group col-md-3" *ngIf="!showInvestigation">
                                <!-- <select (change)="addItem($event, i)" name="service-item-{{i}}"
                                    [ngModel]="userBooking.booking.items[i].item?._id"
                                    class="app-single-select-dropdown w-100" required>
                                    <option [disabled]="isOptionDisabled(item.item._id)"
                                        *ngFor="let item of serviceItemList;" [value]="item.item._id">
                                        {{item?.item?.name}} <span *ngIf="item?.user?._id"> - {{item.user.nameF}}
                                            {{item.user.nameL ??
                                            ''}}</span>
                                    </option>
                                </select> -->

                                <ng-multiselect-dropdown [placeholder]="'Select'" type="" 
                                [settings]="dropdownSettings" [data]="serviceItemSelectList"
                                (ngModelChange)="onServiceSelect($event,i)"
                                name="service-item-{{i}}"
                               
                                [ngModel]="userBooking.booking.items[i].item?._id">
                            </ng-multiselect-dropdown>

                            </div>
                            <div class="form-group col-md-2" *ngIf="showInvestigation">
                                <select 
                                    class="app-single-select-dropdown w-100" required>
                                    <option
                                        *ngFor="let item of investigationList">
                                        {{item.testName}}
                                    </option>
                                </select>
                            </div>

                            <!--Total Amount  -->
                            <div class="form-group col-md-2" *ngIf="!showInvestigation">
                                <input type="text" class="form-control pres-input w-100" name="total{{i}}"
                                    [value]="userBooking.booking.items[i].amount">
                            </div>

                            <div class="form-group col-md-2" *ngIf="showInvestigation">
                                <input type="text" class="form-control pres-input w-100" name="total"
                                    [value]="100">
                            </div>


                            <!-- CAN BE USED FURTHER -->
                            <!-- Discount -->
                            <!-- <div class="form-group col-md-2">
                                <input type="text" class="form-control pres-input w-100" [(ngModel)]="serviceDiscount" name="discount">
                            </div> -->

                            <!-- Net Amount -->
                            <!-- <div class="form-group col-md-2">
                                <input [readOnly]="true" type="number" class="form-control pres-input w-100" name="net-amount{{i}}"
                                    [value]="userBooking.booking.items[i].amount-serviceDiscount">
                            </div> -->

                            <div class="col-md-2">
                                <mat-icon (click)="removeServiceItem(i)" class="add-icon clickable">delete</mat-icon>
                                &nbsp;&nbsp;
                                <mat-icon (click)="addServiceItem()"
                                    *ngIf="(i + 1) == userBooking.booking.items?.length"
                                    class="add-icon clickable">add_circle_outline</mat-icon>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-list>
</section>