<div id="printable-content">

    <div class="idCard" *ngIf="!secondIdCard">
        <div id="header">
            <img src="https://aayamskinclinic.com/images/logo.jpg" alt="Company Logo" width="150" height="100">
            <div class="d-flex flex-column">
                <h3 class="mb-1">Healthcare at its finest.</h3>
                <h3 class="mb-1">The hospital that cares.</h3>
                <h3>We work for complete healing.</h3>
            </div>
        </div>

        <div class="title-container">
            <h2 class="card-title">ID CARD</h2>
        </div>

        <div class="employeeDetails">
            <div class="employeeInfo">
                <!-- <p>Name: {{ employee.name }}</p> -->
                <p><span class="label-style1">Employee ID: </span> <span class="detail-style1">{{ staff.user.code ||
                        '12345' }}</span></p>
                <p><span class="label-style2">Roll: </span> <span class="detail-style2">{{ staff.acl.role }}</span></p>
                <p><span class="label-style2">Dept: </span> <span class="detail-style2">Department</span></p>
                <p><span class="label-style2">Contact No: </span> <span class="detail-style2">{{ staff.user.cell
                        }}</span></p>
                <p><span class="label-style2">Email: </span> <span class="detail-style2">{{ staff.user.email }}</span>
                </p>
            </div>
            <div>
                <img class="employeeImage" [src]="bucketUrl + staff.user.img" alt="Employee Photo">
            </div>
        </div>
        <div class="address">
            <p><span class="label-style1">Name : </span><span
                    class="detail-style1">{{staff.user.nameF}}{{staff.user.nameL}}</span></p>
        </div>
        <div class="address">
            <p><span class="label-style2">Address: </span><span class="detail-style2">{{ staff.user.address?.city
                    }}, {{staff.user.address?.district}}</span></p>
        </div>
        <!-- </div> -->

        <div class="dates">
            <p><span class="label-style2">Joining Date: </span> <span class="detail-style2">{{ staff.user.doA || '01/01/23'}}
                    </span></p>
            <p><span class="label-style2"> Validity Date: </span><span class="detail-style2"> {{"01/12/23"
                    }}</span></p>
        </div>

        <hr class="mt-0 mb-0" />

        <!-- <div class="pointsContainer"> -->
        <div class="d-flex flex-row ps-4 mt-0 mb-0">
            <div class="d-flex flex-column me-2 mb-0">
                <div class="point">1. This card is compulsory</div>
                <div class="point">2. for new card pay Rs 50.</div>
            </div>
            <div class="d-flex flex-column">
                <div class="point">3. This card is not valid after the expiry date.</div>
                <div class="point">4. Wear this card in the campus compulsorily.</div>
            </div>
        </div>
        <hr class="mt-0 mb-0" />
        <div class="officeAddress">
            <p><span class="text-danger">Office Address:</span> {{ '3/1, Ravindra Nagar Old Palasia Indore (M.P.)' }}</p>
        </div>
    </div>







<!-- CAN BE USED ....THE ID CARD AS PER STUDENT'S ID CARD -->
    <!-- <h4 class="modal-title">
        ID Card
    </h4> -->
    <div *ngIf="secondIdCard" class="modal-body">
        <div class="ms-5 mt-5">
            <div id="idcard" class="mt-5">


                <table style="height: 440px; width: 380px; border:1px solid black;" class="IDCARD">
                    <tbody>
                        <tr style="height:95px">
                            <td colspan="2"><img style="padding-left:10px; height:70px" src="/Images/logo.png"></td>
                            <td colspan="3" class="text-center">
                                <p style="font-style: italic; font-size: 13px; font-weight: 700; margin: 0 0 0;"
                                    class="color-red">An Institute dedicated for the </p>
                                <p style="font-style: italic; font-size: 13px; font-weight: 700; margin: 0 0 0;"
                                    class="color-red">excellence in preparation of</p>
                                <p style="font-size: 24px; font-weight: 700; margin: 0 0 0;" class="color-navy">NEET |
                                    JEE</p>
                            </td>
                        </tr>
                        <tr style="height:47px">
                            <td colspan="5" class="text-center bg-navy">
                                <p style="font-size: 30px; font-weight: 700; margin: 0 0 0;" class="color-white">
                                    ENTRANCE CARD</p>
                            </td>

                        </tr>
                        <tr style="height:20px;">
                            <td colspan="5"></td>
                        </tr>
                        <tr style="height:112px">
                            <td colspan="3" class="padding-left-10">
                                <table style="height: 112px; width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td class="font-weight-medium font-size-18 color-navy">Roll No.</td>
                                            <td class="font-weight-bold font-size-18 color-red">6883</td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-medium font-size-14 color-navy">Stream</td>
                                            <td class="font-weight-bold font-size-14 color-black">NEET classroom</td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-medium font-size-14 color-navy">Course</td>
                                            <td class="font-weight-bold font-size-14 color-black">TARGET - NEET</td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-medium font-size-14 color-navy">Batch</td>
                                            <td class="font-weight-bold font-size-14 color-red">A3</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td colspan="2" class="padding-left-30">
                                <img *ngIf="staff.user.img" class="avatar" [src]="bucketUrl + staff.user.img" />
                            </td>
                        </tr>
                        <tr style="height:20px">
                            <td class="font-weight-medium font-size-18 color-navy padding-left-10">Name</td>
                            <td class="font-weight-bold font-size-18 color-red padding-left-30" colspan="4">
                                {{staff.user.nameF}} {{staff.user.nameL}}</td>

                        </tr>
                        <tr style="height:40px">
                            <td class="font-weight-medium font-size-14 color-navy padding-left-10">Address</td>
                            <td class="font-weight-bold font-size-12 color-black padding-left-30" colspan="4">
                                {{staff.user.address?.city}}</td>
                        </tr>

                        <tr style="height:20px">
                            <td colspan="3">
                                <table>
                                    <tbody>
                                        <tr style="height:20px">
                                            <td class="font-weight-medium font-size-12 color-navy padding-left-10">Adm.
                                                Date</td>
                                            <td class="font-weight-bold font-size-12 color-black padding-left-10">
                                                27/11/2023</td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-medium font-size-12 color-navy padding-left-10">Valid
                                                Upto</td>
                                            <td class="font-weight-bold font-size-12 color-black padding-left-10"
                                                colspan="2">30/04/2024</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td colspan="2">
                                <img src={{staff.user.img}} alt="Imagggggg" style="margin-bottom: 4px;">

                            </td>
                        </tr>
                        <tr style="border-top: 1px solid black; border-bottom: 1px solid black; height: 20px;">
                            <td colspan="5">
                                <table style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td style="font-size:8px;" class="font-weight-medium">1. This card is
                                                compulsory for admission in class.</td>
                                            <td style="font-size:8px;" class="font-weight-medium">3. New card will be
                                                issued after payment of 50/-.</td>
                                        </tr>
                                        <tr>
                                            <td style="font-size:8px;" class="font-weight-medium">2. This card will not
                                                be valid after expiry date.</td>
                                            <td style="font-size:8px;" class="font-weight-medium">4. Wear the card in
                                                the campus compulsorily.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr class="bg-yellow">
                            <td class="padding-left-10 padding-right-0 font-size-12 font-weight-bold color-red">Reg.
                                office :</td>
                            <td colspan="4"
                                class="padding-left-0 padding-right-0 font-size-12 font-weight-bold color-navy">
                                3/1, Ravindra Nagar Old Palasia Indore (M.P.) <br> Contact: 0731-4058393, 0722-4048393
                            </td>
                        </tr>
                        <tr class="bg-yellow">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</div>

<mat-dialog-actions align="end">
    <button mat-button matDialogClose="no">Cancel</button>
    <button mat-button (click)="printBarcode()">Print</button>
</mat-dialog-actions>