.IDCARD td {
    /*padding: 0px !important;*/
    width: 20%;
}

text-center {
    text-align: center !important;
}

.color-red {
    color: #ff0000 !important;
}

.color-black {
    color: #000000 !important;
}

.color-navy {
    color: #000080 !important;
}

.color-white {
    color: #ffffff !important;
}

.bg-navy {
    background-color: #000080 !important;
}

.bg-yellow {
    background-color: #ffff00 !important;
}