<section class="section-org-edit">
    <div class="row">
        <div class=" d-flex justify-content-between">
            <h2>Add Service Type</h2>
        </div>
    </div>
    <form>
        <div class="column mt-3">
            <!--Service Type -->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-4">
                        <label class="app-label">Service Type</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control app-input" name="serviceTypeName"
                                [(ngModel)]="serviceType.name" required>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Department -->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-4">
                        <label class="app-label">Department</label>
                    </div>

                    <div class="col-md-7">
                        <div class="form-group">
                            <select class="app-single-select-dropdown w-100" [(ngModel)]="serviceType.departmentId"
                                name="departmentId">
                                <option *ngFor="let item of departmentList" [value]="item._id">{{item.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Associated Doctor -->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3 mt-3">
                    <div class="col-md-4">
                        <label class="label" class="app-label">Doctor Associated</label>
                    </div>
                    <div class="col-md-8">
                        <div class="form-check form-check-inline" *ngFor="let g of yesNoList">
                            <input class="form-check-input" type="radio" name="yesNo" [value]="g.name"
                                [(ngModel)]="serviceType.doctorAssociated">
                            <label class="form-check-label">{{ g.id }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>