<section class="section-org-edit">
    <mat-list class="row">
        <app-label>Billing</app-label>
        <mat-accordion>
            <mat-expansion-panel class="my-3">

                <mat-expansion-panel-header class="app-expansion ">
                    <div class="app-expansion-title col-md-12">
                        <span>Patient ID: <span>0812</span></span>
                        <!-- <span>Booking ID: <span>1021</span></span> -->
                        <span>First Name: <span>Jitu</span></span>
                        <span>Doctor's Name: <span>Jitendra</span></span>
                    </div>
                </mat-expansion-panel-header>
                <div class="border border-info rounded p-3 mt-4">
                    <div class="row">
                        <div class="col-md-1"><strong>Sno.</strong></div>
                        <div class="col-md-2"><strong>Date</strong></div>
                        <div class="col-md-4"><strong>Service</strong></div>
                        <div class="col-md-2"><strong>Total Amount</strong></div>
                        <div class="col-md-2"><strong>Payment Mode</strong></div>
                        <div class="col-md"></div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-1 pres-input text-center">
                            <p class="border border-info rounded p-1 text-align-center">1</p>
                        </div>
                        <!-- Date -->
                        <div class="form-group d-flex justify-content-between align-items-center col-md-2">
                            <input type="patientNumber" class="form-control pres-input w-100">
                        </div>
                        <!-- Service -->
                        <div class="form-group col-md-4">
                            <input type="patientNumber" class="form-control pres-input w-100">
                        </div>
                        <!--Total Amount  -->
                        <div class="form-group col-md-2">
                            <input type="patientNumber" class="form-control pres-input w-100">
                        </div>

                        <!-- payment mode -->
                        <div class="form-group col-md-2">
                            <!-- <input type="paymentMode" class="form-control pres-input w-100"> -->
                            <select name="paymentMode" class="app-single-select-dropdown w-100" (change)="onPaymentModeChange($event)" required>
                                <option>cash</option>
                                <option>Online</option>
                                <option>UPI</option>
                                <option>Card</option>
                                <option>Cheque</option>
                            </select>
                        
                            <div *ngIf="showChequeInbox">
                                <input name="cheque" type="cheque" placeholder="cheque number">
                            </div>
                        </div>
                        
                        <!-- pay btn -->
                        <span class=" col-md download-button btn btn-info h-25">Pay</span>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-list>
</section>