<section class="section-org-edit">
    <mat-list class="row">
        <app-label>Billing</app-label>
        <mat-accordion>
            <mat-expansion-panel class="my-3">

                <mat-expansion-panel-header class="app-expansion ">
                    <div class="app-expansion-title col-md-12">
                        <span>Patient ID: <span>0812</span></span>
                        <!-- <span>Booking ID: <span>1021</span></span> -->
                        <span>First Name: <span>Mayank</span></span>
                        <span>Doctor's Name: <span>M.Patidar</span></span>
                    </div>
                </mat-expansion-panel-header>
                <div class="border border-info rounded p-3 mt-4">
                    <div class="row">
                        <div class="col-md-1"><strong>Sno.</strong></div>
                        <div class="col-md-2"><strong>Date</strong></div>
                        <div class="col-md-3"><strong>Service</strong></div>
                        <div class="col-md-2"><strong>Total Amount</strong></div>
                        <!-- <div class="col-md-2"><strong>Payment Mode</strong></div> -->
                        <!-- <div class="col-md-2"><strong>Discount</strong></div> -->
                        <div class="col-md-2"><strong>Payment Type</strong></div>

                        <!-- <div class="col-md-2"><strong>Total Due</strong></div> -->
                        <div class="col-md"></div>

                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-1 pres-input text-center">
                            <p class="border border-info rounded p-1 text-align-center">1</p>
                        </div>
                        <!-- Date -->
                        <div class="form-group d-flex justify-content-between align-items-center col-md-2">
                            <input type="" class="form-control pres-input w-100" name="date"
                                [ngModel]="userBooking.booking.bookingDate | date:'dd-MM-yyyy'" required [readOnly]="true"
                                (ngModelChange)="userBooking.booking.bookingDate = $event">
                        </div>

                        <!-- Service -->
                        <!-- <div class="form-group col-md-4" >
                            <input *ngFor="let service of userBooking.booking.items; let i=index;" type="patientNumber" class="form-control pres-input w-100"  [(ngModel)]="userBooking.booking.items[i].name">
                        </div> -->
                        <!-- due to above approach the service names will come in different different input boxes but we want in a single input box with comma seperated so use the below approach -->
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control pres-input w-100"
                                [value]="getCommaSeparatedServices()" readonly>
                        </div>

                        <!--Total Amount  -->
                        <div class="form-group col-md-2">
                            <input type="" class="form-control pres-input w-100" name="totalAmount"
                                [(ngModel)]="userBooking.booking.subTotal" readOnly>
                        </div>

                       

                        <div class="form-group col-md-2">
                            <!-- <input type="" class="form-control pres-input w-100" name="discount"
                                [(ngModel)]="userBooking.booking.discount" (change)="applyDiscount()"> -->
                            <select class="app-single-select-dropdown w-100" name="paymentType">
                                <option value="Installment">Installment</option>
                                <option value="Lumpsum">Lumpsum</option>
                            </select>
                        </div> 
                        <hr class="mt-4"/>

                        <div class="row form-group">
                            <label class="col-md-2" for="installmentInput">Installment - 1</label>

                            <div class="col-md-4">
                                <input type="" id="installmentInput" class="form-control pres-input w-100" [(ngModel)]="newVar"
                                    name="installmentAmount">
                            </div>
                            <div class="col-md-2">
                                <mat-icon class="add-icon clickable">delete</mat-icon>
                                &nbsp;&nbsp;
                                <mat-icon (click)="addServiceItem()"
                                    class="add-icon clickable">add_circle_outline</mat-icon>
                            </div>
                        </div>

                        <div *ngIf="showInstallmentTwo" class="row form-group">
                            <label class="col-md-2" for="installmentInput">Installment - 2</label>

                            <div class="col-md-4">
                                <input type="" id="installmentInput" class="form-control pres-input w-100" [(ngModel)]="newVar2"
                                    name="installmentAmount">
                            </div>
                            <div class="col-md-2">
                                <mat-icon class="add-icon clickable">delete</mat-icon>
                                &nbsp;&nbsp;
                                <mat-icon (click)="addServiceItem()"
                                    class="add-icon clickable">add_circle_outline</mat-icon>
                            </div>
                        </div>

                        <!-- <div class="form-group col-md-2">
                            <input type="" class="form-control pres-input w-100" name="totaldue"
                                [(ngModel)]="userBooking.booking.totalDue" [(ngModel)]="bookingTransaction.amount" readonly>
                        </div> -->

                        <div class="row d-flex justify-content-center mt-4">
                            <div class="col-md-4"><strong>Payment Mode</strong></div>
                            <div class="col-md-1"></div>
                        </div>
                        <!-- payment mode -->
                        <div class="d-flex justify-content-center">
                            <div class="form-group col-md-2">
                                <!-- <input type="paymentMode" class="form-control pres-input w-100"> -->
                                <select name="paymentMode" class="app-single-select-dropdown w-100"
                                    (change)="onPaymentModeChange($event)" [(ngModel)]="bookingTransaction.paymentMode"
                                    required>
                                    <option>cash</option>
                                    <option>Online</option>
                                    <option>UPI</option>
                                    <option>Card</option>
                                    <option>Cheque</option>
                                </select>

                                <div *ngIf="showChequeInbox">
                                    <input name="cheque" type="" placeholder="cheque number">
                                </div>
                            </div>

                            <!-- pay btn -->
                            <span class=" col-md-1 download-button btn btn-info h-25 ms-2"
                                (click)="payMethod()">Pay</span>

                            <span class=" col-md-2 download-button btn btn-info h-25 ms-2">Generate receipt</span>

                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-list>
</section>