<section class="section-org-edit">
    <mat-list class="row">
        <app-label>Billing</app-label>
        <mat-accordion>
            <mat-expansion-panel class="my-3">

                <mat-expansion-panel-header class="app-expansion ">
                    <div class="app-expansion-title col-md-12">
                        <span>UHID: <span>{{userBooking.booking.patientNo}}</span></span>
                        <span>Visiting ID: <span>{{userBooking.booking.no}}</span></span>
                        <span>First Name: {{userBooking.user.nameF}}</span>
                        <span>Doctor's Name: <span>Ram</span></span>
                        <span>Date: <span>{{userBooking.booking.bookingDate | date}}</span></span>
                    </div>
                </mat-expansion-panel-header>
                <div class="border border-info rounded p-3 mt-4">
                    <div class="row">
                        <div class="col-md-1"><strong>Sno.</strong></div>
                        <div class="col-md-2"><strong>Date</strong></div>
                        <div class="col-md-3"><strong>Service</strong></div>
                        <div class="col-md-2"><strong>Total Amount</strong></div>
                        <div class="col-md-2"><strong>Discount</strong></div>
                        <div class="col-md"></div>

                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-1 pres-input text-center">
                            <p class="border border-info rounded p-1 text-align-center">1</p>
                        </div>
                        <!-- Date -->
                        <div class="form-group d-flex justify-content-between align-items-center col-md-2">
                            <input type="" class="form-control pres-input w-100" name="date"
                                [ngModel]="userBooking.booking.bookingDate | date:'dd-MM-yyyy'" required
                                [readOnly]="true" (ngModelChange)="userBooking.booking.bookingDate = $event">
                        </div>

                        <!-- Service -->
                        <!-- <div class="form-group col-md-4" >
                            <input *ngFor="let service of userBooking.booking.items; let i=index;" type="patientNumber" class="form-control pres-input w-100"  [(ngModel)]="userBooking.booking.items[i].name">
                        </div> -->
                        <!-- due to above approach the service names will come in different different input boxes but we want in a single input box with comma seperated so use the below approach -->
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control pres-input w-100"
                                [value]="getCommaSeparatedServices()" readonly>
                        </div>

                        <!--Total Amount  -->
                        <div class="form-group col-md-2">
                            <input type="" class="form-control pres-input w-100" name="totalAmount"
                                [(ngModel)]="userBooking.booking.totalDue" readOnly>
                        </div>

                        <div class="form-group col-md-2">
                            <input type="" class="form-control pres-input w-100" name="discount"
                                [(ngModel)]="userBooking.booking.discount" (change)="applyDiscount()">
                        </div>

                        <hr class="mt-4" />

                        <div class="row form-group">
                            <table class="table-billing col-md-4" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>Total Due</td>
                                    <td class="align-right">{{userBooking.booking.totalDue | currency}}</td>
                                </tr>
                                <tr>
                                    <td>Total Paid</td>
                                    <td class="align-right">{{userBooking.booking.totalPaid | currency}}</td>
                                </tr>
                                <tr>
                                    <td>Pending Amount</td>
                                    <td class="align-right">{{userBooking.booking.totalDue -
                                        userBooking.booking.totalPaid | currency}}</td>
                                </tr>
                            </table>
                        </div>


                        <!-- <div class="form-group col-md-2">
                            <input type="" class="form-control pres-input w-100" name="totaldue"
                                [(ngModel)]="userBooking.booking.totalDue" [(ngModel)]="bookingTransaction.amount" readonly>
                        </div> -->

                        <!-- <div class="row d-flex justify-content-center mt-4">
                            <div class="col-md-4"><strong>Payment Mode</strong></div>
                            <div class="col-md-1"></div>
                        </div> -->
                        <!-- payment mode -->
                        <div class="d-flex">
                            <div class="row">
                                <div class="col-md-3">Payment Mode</div>
                                <div class="col-md-"></div>
                            </div>
                            <div class="form-group col-md-3">
                                <select name="paymentMode" class="app-single-select-dropdown w-100"
                                    (change)="onPaymentModeChange($event)" [(ngModel)]="bookingTransaction.paymentMode"
                                    required>
                                    <option value="CASH">Cash</option>
                                    <option value="ONLINE">Online</option>
                                    <option value="UPI">UPI</option>
                                    <option value="CARD">Card</option>
                                    <option value="CHEQUE">Cheque</option>
                                </select>

                                <div *ngIf="showChequeInbox">
                                    <input name="cheque" type="" placeholder="cheque number">
                                </div>
                                <div>
                                    <h1>{{userBooking.booking.status}}</h1>
                                </div>

                            </div>
                            &nbsp;&nbsp;
                            <div class="form-group col-md-2">
                                <input appNumberOnly
                                    [min]="userBooking.booking.totalDue - userBooking.booking.totalPaid"
                                    class="form-control pres-input w-100" name="totaldue"
                                    [(ngModel)]="bookingTransaction.amount">
                            </div>

                            <!-- pay btn -->
                            <span class=" col-md-1 download-button btn btn-info h-25 ms-2" (click)="pay()">Pay</span>

                            <span class=" col-md-2 download-button btn btn-info h-25 ms-2"
                                (click)="showReceiptPopup()">Generate receipt</span>

                        </div>
                    </div>
                    <!-- <div *ngIf="src">
                        <h2>Receipt</h2>
                        
                        <button (click)="print()" [disabled]="!isPdfLoaded">Print</button>
                        
                        <div class="row pdf-container">
                            <pdf-viewer [src]="src" style="width: 400px; height: 500px" [original-size]="false"
                                (after-load-complete)="onLoaded($event)"></pdf-viewer>
                        </div>
                    </div> -->
                </div>

                <ng-template #callAPIDialog>
                    <div *ngIf="src">
                        <h2>Receipt</h2>

                        <button (click)="print()" [disabled]="!isPdfLoaded">Print</button>

                        <div class="row pdf-container">
                            <pdf-viewer [src]="src" style="width: 400px; height: 500px" [original-size]="false"
                                (after-load-complete)="onLoaded($event)"></pdf-viewer>
                        </div>
                    </div>
                    <mat-dialog-actions align="end">
                        <button mat-button matDialogClose="no">No</button>
                        <button mat-button matDialogClose="yes">Yes</button>
                    </mat-dialog-actions>
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-list>
</section>