<section class="section-org-edit p-5">
    <div class="row mb-3">
        <div class=" d-flex justify-content-between">
            <h2>Add Product</h2>
        </div>
    </div>

    <form>
        <div class="row">
            <!-- Product Name -->
            <div class="col-md-6">
                <div class="d-flex align-items-center mb-3">
                    <div class="col-md-3">
                        <label class="app-label">Product Name</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control app-input" name="productName"
                                [(ngModel)]="product.name" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-center mt-3">
            <button (click)="saveProduct()" class="common-button">{{'save'}}</button>
        </div>

    </form>
</section>